<div class="animated fadeIn">
  <div class="card">
     <div class="card-header nrb-btn-dark-success">
        <strong>Create New System User</strong> 
        <span  class="pointer text-warning" style="float: right;">
          
          <span *ngIf="is_system_user"  (click)="set_is_system_user()"><strong>Close</strong></span>
          <span *ngIf="!is_system_user"   (click)="set_is_system_user()"><strong>Open</strong></span>
        </span>
        
     </div>
     <div class="card-body " *ngIf="is_system_user">

        <div class="margin-top">
        </div>

        <form [formGroup]="registerForm" class="mr-5 ml-5">

          <div class="form-group mb-4 ">
            <label for="first_name" class=" control-label">
              First Name
            </label>
            <div class="">
              <input id="first_name" type="text" class="form-control"  formControlName="first_name" placeholder="Type here..."/>
            </div>
          </div>
          <div class="form-group mb-4 ">
            <label for="last_name" class=" control-label">
              Last Name
            </label>
            <div class="">
              <input id="last_name"  type="text" class="form-control"  formControlName="last_name" placeholder="Type here..." />    
            </div>
          </div>
          <div class="form-group mb-4 ">
            <label for="email" class=" control-label">
              Email
            </label>
            <div class="">
              <input id="email"  type="text" class="form-control"  formControlName="email" placeholder="Type here..." /> 
            </div>
          </div>
          <div class="form-group mb-4 ">
            <label for="role_name" class=" control-label">
              Assign Role
            </label>
            <div class="">
              <ng-select appendTo="body" dropdownPosition="bottom" class="custom"  id="role_name" class="required" formControlName="role_name">
                <ng-option [value]="item.id" *ngFor="let item of this.user_roles_list">{{item.name}}</ng-option>
              </ng-select>
            </div>
          </div>        
         <div class="form-group mb-4 text-center" >
            <button type="submit" (click)="registeruser()" class="btn btn-success text-white col-6">Save</button>
          </div>
         
        </form>
     </div>
  </div>
</div>


<div class="animated fadeIn mt-2">
  <div class="card">
     <div class="card-header nrb-btn-dark-success">
        <strong>Create New Overseer</strong> 
        <span  class="pointer text-warning" style="float: right;">
          
          <span *ngIf="is_overseer_user"  (click)="set_is_overseer_user()"><strong>Close</strong></span>
          <span *ngIf="!is_overseer_user"   (click)="set_is_overseer_user()"><strong>Open</strong></span>
        </span>
        
     </div>
     <div class="card-body " *ngIf="is_overseer_user">

        <div class="margin-top">
        </div>

        <form [formGroup]="overseerForm" class="mr-5 ml-5">

          <div class="form-group mb-4 ">
            <label for="first_name" class=" control-label">
              Full Name
            </label>
            <div class="">
              <input id="first_name" type="text" class="form-control"  formControlName="name" placeholder="Type here..."/>
            </div>
          </div>
          <div class="form-group mb-4 ">
            <label for="contact" class=" control-label">
              Contact
            </label>
            <div class="">
              <input id="contact"  type="number" class="form-control"  formControlName="contact" placeholder="Type here..." />    
            </div>
          </div>
          <div class="form-group mb-4 ">
            <label for="title" class=" control-label">
              Title
            </label>
            <div class="">
              <ng-select appendTo="body" dropdownPosition="bottom" class="custom"  id="title" class="required" formControlName="title">
                <ng-option [value]="item.id" *ngFor="let item of this.titles">{{item.name}}</ng-option>
              </ng-select>
            </div>
          </div>        
         <div class="form-group mb-4 text-center">
            <button type="submit" (click)="registeroverseer()" class="btn btn-success text-white col-6">Save</button>
          </div>
         
        </form>
     </div>
  </div>
</div>

<!-- <div class="animated fadeIn mt-2">
  <div class="card">
     <div class="card-header nrb-btn-dark-success">
        <strong>Create Team Members</strong> 
        <span  class="pointer text-warning" style="float: right;">
          
          <span *ngIf="is_team_member"  (click)="set_is_team_member()"><strong>Close</strong></span>
          <span *ngIf="!is_team_member"   (click)="set_is_team_member()"><strong>Open</strong></span>
        </span>
        
     </div>
     <div class="card-body " *ngIf="is_team_member">

        <div class="margin-top">
        </div>

        <form [formGroup]="teamMemberForm" class="mr-5 ml-5">

          <div class="form-group mb-3 ">
            <label for="first_name" class=" control-label">
              Full Name
            </label>
            <div class="">
              <input id="first_name" type="text" class="form-control"  formControlName="member" placeholder="Type here..."/>
            </div>
          </div>
          <div class="form-group mb-3">
            <label class="col-form-label" for="input-small">Thematic Area</label>
            <div class="">
              <ng-select appendTo="body" dropdownPosition="bottom" class="custom"  id="thematic_area"  formControlName="thematic_area">
                <ng-option [value]="item.id" *ngFor="let item of thematic_areas">{{item.area}}</ng-option>
              </ng-select>
            </div>
          </div>   
         <div class="form-group mb-4 text-center">
            <button type="submit" (click)="registerTeamMember()" class="btn btn-success text-white col-6">Save</button>
          </div>
         
        </form>
     </div>
  </div>
</div> -->