
<div class="animated fadeIn mt-2">
  <div class="card">
     <div class="card-header nrb-btn-dark-success">
        <strong>Create Team Members</strong> 
        <span  class="pointer text-warning" style="float: right;">
          
          <span *ngIf="is_team_member"  (click)="set_is_team_member()"><strong>Close</strong></span>
          <span *ngIf="!is_team_member"   (click)="set_is_team_member()"><strong>Open</strong></span>
        </span>
        
     </div>
     <div class="card-body " *ngIf="is_team_member">

        <div class="margin-top">
        </div>

        <form [formGroup]="teamMemberForm" class="mr-5 ml-5">

          <div class="form-group mb-3 ">
            <label for="first_name" class=" control-label">
              Full Name
            </label>
            <div class="">
              <input id="first_name" type="text" class="form-control"  formControlName="member" placeholder="Type here..."/>
            </div>
          </div>
          <div class="form-group mb-3">
            <label class="col-form-label" for="input-small">Thematic Area / Project Goal</label>
            <div class="">
              <ng-select appendTo="body" dropdownPosition="bottom" class="custom"  id="thematic_area"  formControlName="thematic_area">
                <ng-option [value]="item.id" *ngFor="let item of thematic_areas">{{item.area}}</ng-option>
              </ng-select>
            </div>
          </div>   
         <div class="form-group mb-4 text-center">
            <button type="submit" (click)="registerTeamMember()" class="btn btn-success text-white col-6">Save</button>
          </div>
         
        </form>
     </div>
  </div>
</div>