<div bsModal #createModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable  modal-success"  role="document">
    <div class="modal-content">
      <div class="modal-header text-white site-btn-success-dark m-0 p-2">
        <h6 class="modal-title pl-3">Create Project Objective
          
        </h6>
        <button type="button" class="close btn text-white site-btn-success-dark m-0 p-0" (click)="createModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="createRecordForm" >
          <div class="form-group row mb-3">
            <label class="col-sm-3 col-form-label" for="input-small">Project</label>
            <div class="col-sm-9">
              <ng-select  id="coach" class="required" formControlName="wave">
                <ng-container *ngFor="let item of waves">
                  <ng-option [value]="item.id">{{item.name}}</ng-option>
                </ng-container>
              </ng-select>
            </div>
          </div>
          <div class="form-group row mb-3">
            <label class="col-sm-3 col-form-label" for="input-small">Project Objective</label>
            <div class="col-sm-9">
              <textarea rows="3"  class="form-control form-control-md" placeholder="" [ngClass]="{'form-submitted': formSubmitted}"  formControlName="goal" required ></textarea>
            </div>
          </div>
          <div class="form-group row mb-3">
            <label class="col-sm-3 col-form-label" for="input-small">Project Goal</label>
            <div class="col-sm-9">
              <ng-select  id="sector" class="required" formControlName="thematic_area">
                <ng-option [value]="item.id" *ngFor="let item of thematic_areas">{{item.area}}</ng-option>
              </ng-select>
            </div>
          </div>
          <!-- <div class="form-group row mb-2">
            <label class="col-sm-3 col-form-label" for="input-small">Coach</label>
            <div class="col-sm-9">
              <ng-select  id="coach" class="required" formControlName="coach">
                <ng-container *ngFor="let item of overseers">
                  <ng-option [value]="item.id" *ngIf="item?.title?.name == 'Coach'">{{item.name}}</ng-option>
                </ng-container>
              </ng-select>
            </div>
          </div> -->
          <div class="form-group row mb-3">
            <label class="col-sm-3 col-form-label" for="input-small">Results leaders </label>
            <div class="col-sm-9">
              <ng-select [multiple]="true"  id="results_leader" class="required" formControlName="results_leaders">
                <ng-container *ngFor="let item of overseers">
                  <ng-option [value]="item.id">{{item.name}}</ng-option>
                </ng-container>
              </ng-select>
              <small><mark>You can select multiple</mark></small>
            </div>
          </div>
          <div class="form-group row mb-3">
            <label class="col-sm-3 col-form-label" for="input-small">Strategic leaders </label>
            <div class="col-sm-9">
              <ng-select [multiple]="true"  id="strategic_leader" class="required" formControlName="strategic_leaders">
                <ng-container *ngFor="let item of overseers">
                  <ng-option [value]="item.id" >{{item.name}}</ng-option>
                </ng-container>
              </ng-select>
              <small><mark>You can select multiple</mark></small>
            </div>
          </div>
          <div class="form-group row mb-3">
            <label class="col-sm-3 col-form-label" for="input-small">Technical leaders </label>
            <div class="col-sm-9">
              <ng-select [multiple]="true"  id="technical_leaders" class="required" formControlName="technical_leaders">
                <ng-container *ngFor="let item of overseers">
                  <ng-option [value]="item.id" >{{item.name}}</ng-option>
                </ng-container>
              </ng-select>
              <small><mark>You can select multiple</mark></small>
            </div>
          </div>
          
        </form>
        <!-- <div class="card mt-3">
          <div class="card-header">
            <span class="pt-5">
              <strong>
                Add Results Leader
              </strong>
            </span>
          </div>
          <div class="card-body table-responsive">
            <div class="row mb-1">
              <div class="form-group mb-3 col-sm-9">
                <div class="">
                  <input type="text"  class="form-control form-control-md" placeholder="Enter Leader Name"   [(ngModel)]="results_leader" >
                </div>
              </div>
              <div class="form-group mb-3 col-sm-3">
                <button class="btn btn-info col-12" (click)="create_results_leader()">
                  Add
                </button>
              </div>
            </div>
            

            <table class="table  table-striped table-bordered ">
              <tr>
                <th colspan="3">Results leaders</th>
              </tr>
              <tr *ngFor="let member of results_leaders; let i=index">
                <td>{{i+1}}</td>
                <td>{{member}}</td>
                <td>
                  <span class="btn_link text-danger fa fa-trash pointer" (click)=" remove_results_leader(i)"></span>
                </td>
              </tr>
            </table>
          </div>
        </div> -->
        <!-- <div class="card mt-3">
          <div class="card-header">
            <span class="pt-5">
              <strong>
                Add  Technical Leaders
              </strong>
            </span>
          </div>
          <div class="card-body table-responsive">
            <div class="row mb-1">
              <div class="form-group mb-3 col-sm-9">
                <div class="">
                  <input type="text"  class="form-control form-control-md" placeholder="Enter Leader Name"   [(ngModel)]="technical_leader" >
                </div>
              </div>
              <div class="form-group  mb-3  col-sm-3">
                <button class="btn btn-info col-12 " (click)="create_technical_leaders()">
                  Add
                </button>
              </div>
            </div>
            
            <table class="table  table-striped table-bordered ">
              <tr>
                <th colspan="3">Technical Leaders</th>
              </tr>
              <tr *ngFor="let member of technical_leaders; let i=index">
                <td>{{i+1}}</td>
                <td>{{member}}</td>
                <td>
                  <span class="btn_link text-danger fa fa-trash pointer" (click)=" remove_technical_leaders(i)"></span>
                </td>
              </tr>
            </table>
          </div>
        </div> -->
        <!-- <div class="card mt-3">
          <div class="card-header">
            <span class="pt-5">
              <strong>
                Add  Strategic Leaders
              </strong>
            </span>
          </div>
          <div class="card-body table-responsive">
            <div class="row mb-1">
              <div class="form-group mb-3 col-sm-9">
                <div class="">
                  <input type="text"  class="form-control form-control-md" placeholder="Enter Leader Name"   [(ngModel)]="strategic_leader" >
                </div>
              </div>
              <div class="form-group  mb-3  col-sm-3">
                <button class="btn btn-info col-12 " (click)="create_strategic_leaders()">
                  Add
                </button>
              </div>
            </div>
            
            <table class="table  table-striped table-bordered ">
              <tr>
                <th colspan="3">Strategic Leaders</th>
              </tr>
              <tr *ngFor="let member of strategic_leaders; let i=index">
                <td>{{i+1}}</td>
                <td>{{member}}</td>
                <td>
                  <span class="btn_link text-danger fa fa-trash pointer" (click)=" remove_strategic_leaders(i)"></span>
                </td>
              </tr>
            </table>
          </div>
        </div> -->
        <div class="card mt-3">
          <div class="card-header">
            <span class="pt-5">
              <strong>
                Add Team Members
              </strong>
            </span>
          </div>
          <div class="card-body table-responsive">
            <div class="row">
              <div class="form-group mb-3 col-sm-9">
                <!-- <label class="col-form-label" for="input-small"></label> -->
                <div class="">
                  <input type="text"  class="form-control form-control-md" placeholder="Enter Member Name"  [(ngModel)]="member" >
                </div>
              </div>
              <div class="form-group mb-3 col-sm-3">
                <button class="btn btn-info col-12" (click)="create_members()">
                  Add
                </button>
              </div>
            </div>
            
            <!-- display  -->
            <table class="table  table-striped table-bordered ">
              <tr>
                <th colspan="3">Members</th>
              </tr>
              <tr *ngFor="let member of members; let i=index">
                <td>{{i+1}}</td>
                <td>{{member}}</td>
                <td>
                  <span class="btn_link text-danger fa fa-trash pointer" (click)=" remove_member(i)"></span>
                </td>
              </tr>
            </table>
          </div>
        </div>

      </div>
      
      <div class="modal-footer">
        <!-- <button   class="btn btn-warning col-md-4 text-white" (click)="resetForm()">Reset</button> -->
        <button  type="submit"  (click)="createRecord()" class="btn site-btn-success-dark col-md-4 text-white">Save</button>
      
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div bsModal #editModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable modal-primary" role="document">
    <div class="modal-content">
      <div class="modal-header text-white site-btn-success-dark m-0 p-2">
        <h6 class="modal-title pl-3">Edit Project Objective</h6>
        <button type="button" class="close btn text-white site-btn-success-dark m-0 p-0" (click)="editModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="editRecordForm" >
          <!-- <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="input-small">Id</label>
            <div class="col-sm-9"> -->
              <input type="text"  hidden  name="input-small" class="form-control form-control-md" placeholder="" [ngClass]="{'form-submitted': formSubmitted}"  formControlName="id" required >
            <!-- </div>
          </div> -->
          <div class="form-group row mb-2">
            <label class="col-sm-3 col-form-label" for="input-small">Project</label>
            <div class="col-sm-9">
              <ng-select  id="coach" class="required" formControlName="wave">
                <ng-container *ngFor="let item of waves">
                  <ng-option [value]="item.id">{{item.name}}</ng-option>
                </ng-container>
              </ng-select>
            </div>
          </div> 
          <div class="form-group row mb-2">
            <label class="col-sm-3 col-form-label" for="input-small">Objective</label>
            <div class="col-sm-9">
              <textarea rows="6"  class="form-control form-control-md" placeholder="" [ngClass]="{'form-submitted': formSubmitted}"  formControlName="goal" required ></textarea>
            </div>
          </div>
          <div class="form-group row mb-2">
            <label class="col-sm-3 col-form-label" for="input-small">Project Goal</label>
            <div class="col-sm-9">
              <ng-select  id="sector" class="required" formControlName="thematic_area">
                <ng-option [value]="item.id" *ngFor="let item of thematic_areas">{{item.area}}</ng-option>
              </ng-select>
            </div>
          </div>     
          <div class="form-group row mb-3">
            <label class="col-sm-3 col-form-label" for="input-small">Results leaders </label>
            <div class="col-sm-9">
              <ng-select [multiple]="true"  id="results_leader" class="required" formControlName="results_leaders">
                <ng-container *ngFor="let item of overseers">
                  <ng-option [value]="item.id">{{item.name}}</ng-option>
                </ng-container>
              </ng-select>
              <small><mark>You can select multiple</mark></small>
            </div>
          </div>
          <div class="form-group row mb-3">
            <label class="col-sm-3 col-form-label" for="input-small">Strategic leaders </label>
            <div class="col-sm-9">
              <ng-select [multiple]="true"  id="strategic_leader" class="required" formControlName="strategic_leaders">
                <ng-container *ngFor="let item of overseers">
                  <ng-option [value]="item.id" >{{item.name}}</ng-option>
                </ng-container>
              </ng-select>
              <small><mark>You can select multiple</mark></small>
            </div>
          </div>
          <div class="form-group row mb-3">
            <label class="col-sm-3 col-form-label" for="input-small">Technical leaders </label>
            <div class="col-sm-9">
              <ng-select [multiple]="true"  id="technical_leaders" class="required" formControlName="technical_leaders">
                <ng-container *ngFor="let item of overseers">
                  <ng-option [value]="item.id" >{{item.name}}</ng-option>
                </ng-container>
              </ng-select>
              <small><mark>You can select multiple</mark></small>
            </div>
          </div>
        </form>

        <div class="card mt-5">
          <div class="card-header">
            <span class="pt-5">
              <strong>
                Add Team Members
              </strong>
            </span>
          </div>
          <div class="card-body table-responsive">
            <div class="form-group mb-3">
              <label class="col-form-label" for="input-small">Member Name</label>
              <div class="">
                <input type="text"  class="form-control form-control-md"  [(ngModel)]="member" >
              </div>
            </div>
            <div class="form-group mb-3">
              <button class="btn btn-info float-end" (click)="create_members()">
                Add
              </button>
            </div>
            <!-- display  -->
            <br>
            <br>
            <table class="table  table-striped table-bordered ">
              <tr>
                <th colspan="3">Members</th>
              </tr>
              <tr *ngFor="let member of members; let i=index">
                <td>{{i+1}}</td>
                <td>{{member}}</td>
                <td>
                  <span class="btn_link text-danger fa fa-trash pointer" (click)=" remove_member(i)"></span>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary text-white" (click)="editModal.hide()">Close</button>
        <button type="button" class="btn btn-success text-white" (click)="saveEditChanges()">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<div class="animated fadeIn">
  <div class="card">
    <div class="card-header site-btn-success-dark">
      <strong>Project Objectives</strong>
      <span class="pointer float-end text-white" (click)="back_btn()">
        <span class="fa fa-arrow-left   " ></span>
        &nbsp;<b>Back</b>
     </span>
    </div>
    <div class="card-body">
      <div class="row" *ngxPermissionsExcept="['VIEWER']">
        <div class="col-sm-4 col-md-4 col-lg-2">
          <button type="button" class="btn btn-block btn-success text-white" (click)="createModal.show()"><i
              class="fa fa-plus"></i> Add New</button>
        </div>
        <!-- <div class="col-sm-4 col-md-4 col-lg-4 offset-md-6">
          <div class="input-group">
          
              <span class="input-group-text"><i class="fa fa-search"></i></span>
  
            <input class="form-control " placeholder="Search Here" type="text" [(ngModel)]="searchString">
          </div>
        </div> -->
      </div>
        <br />
        <div class="table-responsive">
          <table class="table table-striped table-bordered table-hover row-border pt-3 mb-3" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" >
            <thead>
              <tr>
              
                <th style="width: 2%">
                  #
                  </th>
                  <th>Project Name</th>
                  <th>Project Objective</th>
                  <th>Project Goal</th>
                  <!-- <th>Coach</th> -->
                  <th *ngxPermissionsExcept="['VIEWER']">
                    Action
                  </th>
              </tr>
            </thead>
            <tbody *ngIf="records?.length != 0">
                <!-- <tr *ngFor="let recordinstance of  mf.data | filter : searchString  ; let i = index"> -->
                  <tr *ngFor="let recordinstance of records | filter : searchString; let i = index">
                    
                <!-- <td class=" text-left" width="20">
                  <input type="checkbox">
                </td> -->
                <td>{{i + 1}}</td>
                <td>{{ recordinstance?.wave?.name }}</td>            
                <td>{{ recordinstance?.goal }}</td>            
                <td>{{ recordinstance?.thematic_area?.area }}</td>            
                <!-- <td>{{ recordinstance?.coach?.name }}</td>             -->
                <td *ngxPermissionsExcept="['VIEWER']"  class="text-nowrap">
                  <button type="button" class="btn btn-info  btn-sm me-2 " (click)="editRecord(i)"> <i
                      class="fa fa-pencil "></i> </button>

                  <button type="button" class="btn btn-danger  btn-sm " (click)="deleteInstanceRecord(recordinstance.id)"> <i
                      class="fa fa-trash "></i> </button>
                </td>

              </tr>
            </tbody>
            <tbody *ngIf="records?.length == 0">
              <tr>
                <td colspan="9" class="no-data-available">No data available</td>
              </tr>
            <tbody>
          </table>
      </div>
    </div>
  </div>
</div>


