<style>
  .nav-tabs{
    background-color: nrb-btn-dark-success !important;
  }
</style>
<div class="animated fadeIn">
  <div class="card">
     <div class="card-header nrb-btn-dark-success">
      WORKPLAN
      <span class="pointer float-end text-white" (click)="back_btn()">
        <span class="fa fa-arrow-left   " ></span>
        &nbsp;<b>Back</b>
     </span>
     </div>
     <div class="card-body table-responsive">
        <table class="table table-striped table-bordered table-hover row-border" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" >
          <thead>
            <tr>
                <th>Sector</th>
                <th>Department</th>
                <th>Thematic Area</th>
                <th>RRI Goal</th>
                <th>Leaders</th>
                <th>Team Members</th>
            </tr>
          </thead>
          <tbody>
              <tr>
              <td>{{ rri_goal?.thematic_area?.sector?.name }}</td>            
              <td>{{ rri_goal?.thematic_area?.department?.name }}</td>            
              <td>{{ rri_goal?.thematic_area?.area }}</td>            
              <td>{{ rri_goal?.goal }}</td>            
              <td>
                <div class="row">
                  <div class="col">
                    <div ngbDropdown class="d-inline-block">
                      <button type="button" class="btn btn-outline-success" id="dropdownForm1" ngbDropdownToggle>
                        Leaders
                      </button>
                      <div ngbDropdownMenu aria-labelledby="dropdownForm1">
                        <div>
                          <table class="table" width="100%">
                            <tr>
                              <th>Title</th>
                              <td> Coach</td>
                            </tr>
                            <tr>
                              <th>Name</th>
                              <td>{{ rri_goal?.coach?.name }}</td>
                            </tr>
                            <tr>
                              <th>Contact</th>
                              <td>{{ rri_goal?.coach?.contact }}</td>
                            </tr>
                          </table>
                        </div>
                        <div class="dropdown-divider"></div>
                        <div>
                          <table class="table" width="100%">
                            <tr>
                              <th width="5%">Title</th>
                              <td> Reasults Leader</td>
                            </tr>
                            <tr>
                              <th>Name</th>
                              <td class="text-nowrap">{{ rri_goal?.results_leader?.name }}</td>
                            </tr>
                            <tr>
                              <th>Contact</th>
                              <td>{{ rri_goal?.results_leader?.contact }}</td>
                            </tr>
                          </table>
                        </div>
                        <div class="dropdown-divider"></div>
                        <div>
                          <table class="table" width="100%">
                            <tr>
                              <th>Title</th>
                              <td> Strategic Leader</td>
                            </tr>
                            <tr>
                              <th>Name</th>
                              <td>{{ rri_goal?.strategic_leader?.name }}</td>
                            </tr>
                            <tr>
                              <th>Contact</th>
                              <td>{{ rri_goal?.strategic_leader?.contact }}</td>
                            </tr>
                          </table>
                        </div>
                        <div class="dropdown-divider"></div>
                        <div>
                          <table class="table" width="100%">
                            <tr>
                              <th>Title</th>
                              <td> Team Leader</td>
                            </tr>
                            <tr>
                              <th>Name</th>
                              <td>{{ rri_goal?.team_leader?.name }}</td>
                            </tr>
                            <tr>
                              <th>Contact</th>
                              <td>{{ rri_goal?.team_leader?.contact }}</td>
                            </tr>
                          </table>
                        </div>
                        <!-- <div class="dropdown-divider"></div> -->
                      </div>
                    </div>
                  </div>
                </div>
              </td>            
              <td>
                <c-dropdown *ngIf="rri_goal?.team_members?.length > 0">
                  <button cButton cDropdownToggle color="success">
                    Members
                  </button>
                  <ul cDropdownMenu>
                    <li *ngFor="let member of rri_goal?.team_members; let i=index"><span>&nbsp;&nbsp;{{i+1}}. {{member}}</span></li>
                  </ul>
                </c-dropdown>
              </td>             
            </tr>
          </tbody>
        </table>


        <!-- reporting tools -->
        <div class="row">
          <div class="col-12 col-lg-12">
             <div class="card">
                <div class="card-header nrb-btn-light-success">
                   <span class="text-white pt-1 pb-1 m-0 btn" *ngIf="!is_add"><strong>Workplan</strong></span>
                   <span class="text-white pt-1 pb-1 m-0 btn" *ngIf="is_add"><strong><i class="fa fa-pencil "></i> Adding Workplan</strong></span>
                   <button class="text-white pt-1 pb-1 m-0 btn nrb-btn-dark-success btn-sm float-right" style="float: right;" (click)="set_is_add()"> 
                    <span *ngIf="!is_add">
                      <i class="fa fa-plus "></i> Add
                    </span>
                    <span *ngIf="is_add">
                      <i class="fa fa-times "></i> Close
                    </span>                    
                  </button>
                </div>
                <div class="card-body table-responsive">

                  <!-- display -->
                  <div class="animated fadeIn" *ngIf="!is_add">
                    <table class="table table-striped table-bordered table-hover row-border"  [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" >
                      <thead>
                        <tr>
                          <th>Milestone</th>
                          <th>Action Steps</th>
                          <th>Begin Date</th>
                          <th>End Date</th>
                          <th>Budget (Kshs)</th>
                          <th>Status</th>
                          <th>Remarks / Challenges</th>
                        </tr>
                      </thead>
                      <tbody *ngIf="rri_goal?.workplan">
                          <tr *ngFor="let item of rri_goal?.workplan">
                            <td>{{ item?.milestone }}</td>
                            <td>
                              <span *ngFor="let step of item.steps; let i = index">{{i+1}} {{step?.step}} - {{step?.person_incharge}} <br></span>
                            </td>
                            <td>{{ item?.start_date | date}}</td>
                            <td>{{ item?.end_date | date}}</td>
                            <td>{{ item?.budget }}</td>
                            <td>{{ item?.status }}</td>
                            <td>{{ item?.remarks }}</td>
                          </tr>
                      </tbody>
                      <h6 class="text-danger text-center mt-3" *ngIf="rri_goal?.workplan.length == 0">No Workplan Added !</h6>
                    </table>
                    
                    
                  </div> 
                  
                  <!-- add new -->
                  <div class="animated fadeIn" *ngIf="is_add">
                    <div class="row">
                      <div class="col-sm-12 col-md-6">
                        <form [formGroup]="workplanForm" >
                          <div class="form-group mb-3">
                            <label class="col-form-label" for="input-small">Start Date</label>
                            <div class="">
                              <input type="date"  class="form-control form-control-md"  formControlName="start_date" required >
                            </div>
                          </div>
                          <div class="form-group mb-3">
                            <label class="col-form-label" for="input-small">End Date</label>
                            <div class="">
                              <input type="date"  class="form-control form-control-md"  formControlName="end_date" required >
                            </div>
                          </div>
                          <div class="form-group mb-3">
                            <label class="col-form-label" for="input-small">Budget (Kshs)</label>
                            <div class="">
                              <input type="number"  class="form-control form-control-md"  formControlName="budget" required >
                            </div>
                          </div>
                          <div class="form-group mb-3">
                            <label class="col-form-label" for="input-small">Milestone</label>
                            <div class="">
                              <textarea rows="6"  class="form-control form-control-md" placeholder="Type here..."  formControlName="milestone" required ></textarea>
                            </div>
                          </div>
                          
                          <div class="form-group mb-3">
                            <label class="col-form-label" for="input-small">Status</label>
                            <div class="">
                              <input type="text"  class="form-control form-control-md"  formControlName="status" required >
                            </div>
                          </div>
                          <div class="form-group mb-3">
                            <label class="col-form-label" for="input-small">Remarks</label>
                            <div class="">
                              <textarea rows="6"  class="form-control form-control-md" placeholder="Type here..."  formControlName="remarks" required ></textarea>
                            </div>
                          </div>
                        </form>
                      </div>
                      <!-- 2nd column -->
                      <div class="col-sm-12 col-md-6">
                        <div class="card">
                          <div class="card-header">
                            <span class="pt-5">
                              <strong>
                                Add Action Steps
                              </strong>
                            </span>
                          </div>
                          <div class="card-body table-responsive">
                            <div class="form-group mb-3">
                              <label class="col-form-label" for="input-small">Step</label>
                              <div class="">
                                <input type="text"  class="form-control form-control-md"  [(ngModel)]="step" >
                              </div>
                            </div>
                            <div class="form-group mb-3">
                              <label class="col-form-label" for="input-small">Person Incharge</label>
                              <div class="">
                                <ng-select [(ngModel)]="person_incharge">
                                  <ng-container *ngFor="let user of users">
                                    <ng-option  value="{{user?.first_name}} {{user?.last_name}}" *ngIf="user?.first_name">{{user?.first_name}} {{user?.first_name}}</ng-option>
                                    <ng-option  [value]="user?.name" *ngIf="user?.name">{{user?.name}}</ng-option>
                                  </ng-container>
                                </ng-select>
                              </div>
                            </div>
                            <div class="form-group mb-3">
                              <button class="btn btn-info float-end" (click)="create_steps()">
                                Add
                              </button>
                            </div>
                            <!-- display  -->
                            <br>
                            <br>
                            <table class="table  table-striped table-bordered mt-2">
                              <tr>
                                <th colspan="2">Step</th>
                                <th colspan="2">Person Incharge</th>
                              </tr>
                              <tr *ngFor="let step of steps; let i=index">
                                <td>{{i+1}}</td>
                                <td>{{step?.step}}</td>
                                <td>{{step?.person_incharge}}</td>
                                <td>
                                  <span class="btn_link text-danger fa fa-trash pointer" (click)=" remove_step(i)"></span>
                                </td>
                              </tr>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                     
                      <div class="form-group mt-3 text-center ">
                        <button class="btn btn-success col-md-6 col-sm-12 text-white" (click)="save_workplan()">
                          Submit
                        </button>
                      </div>  
                  </div>

                </div>
             </div>
          </div>

        </div>



        


  </div>
</div>



