<div bsModal #createModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-success" role="document">
    <div class="modal-content">
      <div class="modal-header text-white bg-purple m-0 p-2">
        <h6 class="modal-title">Create Quote</h6>
        <button type="button" class="close btn text-white site-btn-purple m-0 p-0" (click)="createModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="createRecordForm" >
          <div class="form-group mb-3">
            <label class="col-form-label" for="input-small">Department</label>
            <div class="">
              <ng-select formControlName="department" placeholder="-- select below --">
                <ng-option [value]="department?.id" *ngFor="let department of departments">{{department?.name}}</ng-option>
              </ng-select>
            </div>
          </div>
          <div class="form-group mb-3">
            <label class="col-form-label" for="input-small">Subject</label>
            <div class="">
              <textarea rows="3"  class="form-control form-control-md" placeholder="Type here..."  formControlName="subject" required ></textarea>
            </div>
          </div>
          <div class="form-group mb-3">
            <label class="col-form-label" for="input-small">Description</label>
            <div class="">
              <textarea rows="6"  class="form-control form-control-md" placeholder="Type here..."  formControlName="description" required ></textarea>
            </div>
          </div>
          <div class="form-group mb-4 mt-2">
            <label for="evidence" class="control-label">
              Upload attachment files(pdf). 
            </label>
            <div class="">
              <input id="evidence"  type="file" multiple class="form-control" (change)="handleFileupload($event)"/>                                 
            </div>
          </div>         
        </form>
      </div>
      
      <div class="modal-footer">
        <!-- <button   class="btn btn-warning col-md-4 text-white" (click)="resetForm()">Reset</button> -->
        <button  type="submit"  (click)="create_quote()" class="btn site-btn-purple col-md-4 text-white">Save</button>
      
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div bsModal #editModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header text-white site-btn-success m-0 p-2">
        <h6 class="modal-title">Edit Request</h6>
        <button type="button" class="close btn text-white site-btn-success m-0 p-0" (click)="editModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="editRecordForm" >
          <input type="text"  hidden  name="input-small" class="form-control form-control-md" placeholder="" formControlName="id" required >
          <div class="form-group mb-3">
            <label for="evidence" class="control-label fw-bold">
              Employee No 
            </label>
            <div class="employee_no">
              <input id="employee_no"  type="text" class="form-control" formControlName="employee_no">         
            </div>
          </div>
          <div class="form-group mb-3">
            <label for="evidence" class="control-label fw-bold">
              Position Title 
            </label>
            <div class="position">
              <input id="position"  type="text" class="form-control" formControlName="position">         
            </div>
          </div>
          <div class="form-group mb-3">
            <label class="col-form-label fw-bold" for="purpose">Purpose of Travel</label>
            <div class="">
              <ng-select formControlName="purpose" placeholder="-- select below --">
                <ng-option value="Business">Business</ng-option>
                <ng-option value="Training">Training</ng-option>
                <ng-option value="Personal">Personal</ng-option>
              </ng-select>
            </div>
          </div>
          <div class="form-group mb-3">
            <label class="col-form-label fw-bold" for="input-small">Travel Description / Details</label>
            <div class="">
              <textarea rows="3"  class="form-control form-control-md" placeholder="Type here..."  formControlName="description" required ></textarea>
            </div>
          </div>
          <div class="form-group mb-3">
            <label class="col-form-label fw-bold" for="route">Travel Route</label>
            <div class="">
              <textarea rows="3"  class="form-control form-control-md" placeholder="Type here..."  formControlName="route" required ></textarea>
            </div>
          </div>
          <div class="form-group mb-3">
            <label for="departure_date" class="control-label fw-bold">
              Departure Date 
            </label>
            <div class="position">
              <input id="departure_date"  type="date" class="form-control" formControlName="departure_date">         
            </div>
          </div>
          <div class="form-group mb-3">
            <label for="return_date" class="control-label fw-bold">
              Return Date 
            </label>
            <div class="position">
              <input id="return_date"  type="date" class="form-control" formControlName="return_date">         
            </div>
          </div>
          
          <div class="form-group mb-3">
            <label class="col-form-label fw-bold" for="input-small">Hotel / Accommodation</label>
            <div class="">
              <ng-select formControlName="accommodation" placeholder="-- select below --">
                <ng-option [value]="true">Yes</ng-option>
                <ng-option [value]="false">No</ng-option>
              </ng-select>
            </div>
          </div>
          <div class="form-group mb-3">
            <label for="visa_required_date" class="control-label fw-bold">
              Required Date of Visa. <mark>If Applicable</mark> 
            </label>
            <div class="position">
              <input id="visa_required_date"  type="date" class="form-control" formControlName="visa_required_date">         
            </div>
          </div>
          <div class="form-group mb-3">
            <label class="col-form-label fw-bold" for="salary_amount_required">Salary Advance Needed?</label>
            <div class="">
              <ng-select formControlName="salary_advance_required" placeholder="-- select below --" >
                <ng-option [value]="true">Yes</ng-option>
                <ng-option [value]="false">No</ng-option>
              </ng-select>
            </div>
          </div>
          <div class="form-group mb-3" *ngIf="editRecordForm?.value?.salary_advance_required">
            <label for="salary_amount_required" class="control-label fw-bold">
              Amount Required 
            </label>
            <div class="position">
              <input id="salary_amount_required"  type="number" class="form-control" formControlName="salary_amount_required">         
            </div>
          </div>
        </form>
      </div>
        
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary text-white" (click)="editModal.hide()">Close</button>
        <button type="button" class="btn site-btn-success text-white" (click)="saveEditChanges()">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div bsModal #assignModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-success" role="document">
    <div class="modal-content">
      <div class="modal-header text-white bg-purple m-0 p-2">
        <h6 class="modal-title">Approve Request</h6>
        <button type="button" class="close btn text-white site-btn-purple m-0 p-0" (click)="assignModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="AssignRecordForm" >
          <div class="form-group mb-3">
            <label for="evidence" class="control-label fw-bold mb-2 mt-1">
              Budget Code
            </label>
            <div class="budget_code">
              <input id="budget_code"  type="text" class="form-control" formControlName="budget_code">         
            </div>
          </div>   
        </form>
      </div>
      
      <div class="modal-footer">
        <!-- <button   class="btn btn-warning col-md-4 text-white" (click)="resetForm()">Reset</button> -->
        <button  type="submit"  (click)="approve_request()" class="btn site-btn-purple col-md-4 text-white">Approve</button>
      
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div bsModal #approveRequestModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-success" role="document">
    <div class="modal-content">
      <div class="modal-header text-white site-btn-success m-0 p-2">
        <h6 class="modal-title"><i class="fa fa-check"></i> Approve Request</h6>
        <button type="button" class="close btn text-white site-btn-success m-0 p-0" (click)="approveRequestModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <div class="modal-body">
        <!-- <form> -->
          <div class="form-group mb-3">
            <label for="amount" class="control-label fw-bold mb-2 mt-1">
              Amount
            </label>
            <div class="amount">
              <input type="number" id="amount"class="form-control" [(ngModel)]="amount">    
            </div>
          </div> 
          <div class="form-group mb-3">
            <label for="budget_code" class="control-label fw-bold mb-2 mt-1">
             Transaction Code
            </label>
            <div class="budget_code">
              <input type="text" id="amount"class="form-control" [(ngModel)]="transaction_code">     
            </div>
          </div> 
          <div class="form-group mb-3">
            <label for="budget_code" class="control-label fw-bold mb-2 mt-1">
              Message
            </label>
            <div class="budget_code">
              <textarea rows="4" id="budget_code"class="form-control" [(ngModel)]="text" placeholder="Type here...">   </textarea>      
            </div>
          </div>   
        <!-- </form> -->
      </div>
      
      <div class="modal-footer">
        <!-- <button   class="btn btn-warning col-md-4 text-white" (click)="resetForm()">Reset</button> -->
        <button  type="submit"  (click)="send_cash_office()" class="btn site-btn-success col-md-4 text-white">Approve</button>
      
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div bsModal #processModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-success modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header text-white site-btn-success m-0 p-2">
        <h6 class="modal-title">Administration and Costing</h6>
        <button type="button" class="close btn text-white site-btn-success m-0 p-0" (click)="processModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="processRecordForm" >
          <div class="form-group mb-3 mt-2">
            <label for="quote" class="control-label my-2 fw-bold">
              Travel Order No
            </label>
            <div class="">
              <input id="travel_order_no"  type="text" class="form-control" formControlName="travel_order_no">                                 
            </div>
          </div> 
          
          <h6 class="fw-bold">-- Air Ticket Cost --</h6>
          <div class="card mb-3">
            <div class="card-body">
              <div class="form-group mb-3 mt-2">
                <label for="ticket_cost" class="control-label my-2 fw-bold">
                  Ticket Cost
                </label>
                <div class="">
                  <input id="ticket_cost"  type="number" class="form-control" formControlName="ticket_cost">                                 
                </div>
              </div> 
              <div class="form-group mb-3 mt-2">
                <label for="airline" class="control-label my-2 fw-bold">
                  Airline
                </label>
                <div class="">
                  <input id="airline"  type="text" class="form-control" formControlName="airline">                                 
                </div>
              </div> 
              <div class="form-group mb-3 mt-2">
                <label for="travel_agent" class="control-label my-2 fw-bold">
                  Travel Agent
                </label>
                <div class="">
                  <input id="travel_agent"  type="text" class="form-control" formControlName="travel_agent">                                 
                </div>
              </div>
            </div>
          </div>

          <h6 class="fw-bold">-- Accommodation --</h6>
          <div class="card mb-2">
            <div class="card-body">
              <div class="form-group mb-3 mt-2">
                <label for="hotel_name" class="control-label my-2 fw-bold">
                  Hotel Name
                </label>
                <div class="">
                  <input id="hotel_name"  type="text" class="form-control" formControlName="hotel_name">                                 
                </div>
              </div> 
              <div class="form-group mb-3 mt-2">
                <label for="charge_per_day" class="control-label my-2 fw-bold">
                  Charge Per Day
                </label>
                <div class="">
                  <input id="charge_per_day"  type="number" class="form-control" formControlName="charge_per_day">                                 
                </div>
              </div> 
            </div>
          </div>

          <div class="form-group mb-3">
            <label class="col-form-label fw-bold" for="bill_settlement">Settlement of Travel Bill By</label>
            <div class="">
              <ng-select formControlName="bill_settlement" id="bill_settlement" placeholder="-- select below --">
                <ng-option value="AKHK">AKHK</ng-option>
                <ng-option value="SALARY ADVANCE">Salary Advance Taken by Employee </ng-option>
              </ng-select>
            </div>
          </div>
        </form>
      </div>
      
      <div class="modal-footer">
        <!-- <button   class="btn btn-warning col-md-4 text-white" (click)="resetForm()">Reset</button> -->
        <button  type="submit"  (click)="process_request()" class="btn site-btn-success col-md-4 text-white">Submit</button>
      
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="animated fadeIn mb-4">
  <div class="card">
    <div class="card-header site-btn-success-dark">
     <strong>Travel Request</strong>
     <span id="actions" class="float-end mx-3">
      <div ngbDropdown container="body" *ngxPermissionsExcept="['CEO','HOF','TRANSPORT','CASH_OFFICE','ADMINISTRATOR','HOD','SLT']">
        <button type="button" class="btn btn-outline-info btn-sm" ngbDropdownToggle>Actions</button>
        <div ngbDropdownMenu>
          <span *ngxPermissionsOnly="['CEO','HOF']">
            <button ngbDropdownItem *ngIf="records?.status == 'APPROVED'" (click)="approve_request(); set_request_id(records?.id)" [disabled]="records?.is_ceo_approved">Approve</button>
            <button ngbDropdownItem (click)="update_request_status('REJECTED', records?.id)" [disabled]="records?.is_ceo_approved">Reject</button>
            <div class="dropdown-divider"></div>
          </span>

          <span *ngxPermissionsOnly="['HOD', 'SLT', 'USER_MANAGER']">
            <button ngbDropdownItem *ngIf="records?.status == 'REQUESTED' || records?.status == 'RESUBMITTED'" (click)="assignModal.show(); set_request_id(records?.id)" [disabled]="records?.status == 'INCOMPLETE'">Approve</button>
            <button ngbDropdownItem *ngIf="records?.status == 'REQUESTED' || records?.status == 'RESUBMITTED'" (click)="update_request_status('REJECTED', records?.id)" [disabled]="records?.status == 'INCOMPLETE'">Reject</button>
            <button ngbDropdownItem *ngIf="records?.status == 'REQUESTED' || records?.status == 'RESUBMITTED'" (click)="update_request_status('INCOMPLETE', records?.id)" [disabled]="records?.status == 'INCOMPLETE'">Is Incomplete</button>
            <div class="dropdown-divider"></div>
          </span>

          <span *ngxPermissionsOnly="['ADMINISTRATOR', 'USER_MANAGER']">
            <button ngbDropdownItem (click)="processModal.show(); set_request_id(records?.id)" [disabled]="!records?.is_ceo_approved || records?.status == 'CLOSED'">Process</button>
            <div class="dropdown-divider"></div>
          </span>
          
          <span *ngxPermissionsOnly="['USER','USER_MANAGER']">
            <button ngbDropdownItem (click)="editRecord(i)" [disabled]="records?.status != 'REQUESTED' && records?.status != 'INCOMPLETE'">Edit</button>
            <button ngbDropdownItem (click)="deleteInstanceRecord(records?.id)" [disabled]="records?.status != 'REQUESTED'">Delete</button>
            <div class="dropdown-divider"></div>
          </span>
          <button ngbDropdownItem (click)="back_btn()">Back</button>
        </div>
      </div>
     </span>
    </div>
    <div class="card-body">
      <!-- <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-2" *ngxPermissionsExcept="['VIEWER']">
          <button type="button" class="btn btn-block site-btn-purple text-white" (click)="createModal.show()"><i
              class="fa fa-plus"></i> Add New</button>
        </div>
      </div>
        <br /> -->
      <div class="row">
        <!-- 1st Column -->
        <div class="table-responsive col-sm-12 col-md-9">
          <table class="table table-striped table-bordered table-hover row-border  pt-3 mb-3" >
            <tbody>
              <tr>
                <th>Request ID</th>
                <td><small>{{ records?.tid }}</small> </td> 
              </tr>
              <tr>
                <th>Request From</th>
                <td>
                  {{ records?.created_by?.first_name }} {{ records?.created_by?.last_name }}
                </td> 
              </tr>
              <tr *ngIf="records?.requesting_for == 'OTHERS'">
                <th>Request For</th>
                <th>
                  <!-- display added employees -->
                  <div class="container">
                    <table class="wikitable" width="100%">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Employee</th>
                          <th>Employee No</th>
                          <th>Position</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of records?.employees; let i = index">
                          <td>{{i+1}}</td>
                          <td>{{item?.employee_name}}</td>
                          <td>{{item?.employee_no}}</td>
                          <td>{{item?.position}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </th>
              </tr>
              <tr *ngIf="records?.requesting_for == 'INDIVIDUAL'">
                <th>Position Title</th>
                <td>{{ records?.position }}</td> 
              </tr>
              <tr >
                <th width="20%">Department</th>
                <td>{{ records?.department?.name }}</td> 
              </tr>
              <tr>
                <th>Purpose of Travel</th>
                <td>{{ records?.purpose }}</td> 
              </tr>
              <tr>
                <th class="text-nowrap">Travel Description</th>
                <td>{{ records?.description }}</td> 
              </tr>
              <tr>
                <th class="text-nowrap">Mode of Transport</th>
                <td>{{ records?.mode_of_transport }}</td> 
              </tr>
              <tr *ngIf="records?.mode_of_transport == 'PSV'">
                <th class="text-nowrap">Travel Cost</th>
                <td>{{ records?.travel_cost | currency:'KES ' }}</td> 
              </tr>
              <tr>
                <th>Travel Route</th>
                <td>{{ records?.trip?.route }}</td> 
              </tr>
              <tr>
                <th>Departure Date</th>
                <td>{{ records?.trip?.departure_date |date }}</td> 
              </tr>
              <tr>
                <th>Return Date</th>
                <td>{{ records?.trip?.return_date |date }}</td> 
              </tr>
              <tr>
                <th class="text-nowrap">Salary Advance Request</th>
                <td>
                  <span *ngIf="records?.salary_advance_required">
                    {{records?.salary_advance?.amount |currency:'KES '}}
                  </span>
                  <span *ngIf="!records?.salary_advance_required">N/A</span>
                </td> 
              </tr>
              <tr>
                <th>Accommodation</th>
                <td>
                    <span *ngIf="records?.trip?.accommodation">Yes</span>
                    <span *ngIf="!records?.trip?.accommodation">No</span>
                </td> 
              </tr>
              <tr *ngIf="records?.trip?.accommodation && records?.status == 'CLOSED'">
                <th class="text-nowrap">Accommodation Details</th>
                <td>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item"><span class="fw-bold">Hotel:</span> {{records?.administration?.accommodation?.hotel_name}}</li>
                    <li class="list-group-item"><span class="fw-bold">Charge Per Day:</span> {{records?.administration?.accommodation?.charge_per_day |currency:'KES '}}</li>
                  </ul>
                </td> 
              </tr>
              <tr>
                <th>Visa Date</th>
                <td>
                  <span *ngIf="records?.trip?.visa_required_date">{{ records?.trip?.visa_required_date |date}}</span>
                  <span *ngIf="!records?.trip?.visa_required_date">N/A</span>
                </td> 
              </tr>
              <tr>
                <th>Status</th>
                <td>
                  <span *ngIf="records?.status == 'REQUESTED'" class="badge bg-primary">REQUESTED</span>
                  <span *ngIf="records?.status == 'APPROVED'" >
                    <span class="badge bg-success" *ngIf="records?.is_ceo_approved">CEO APPROVED</span>
                    <span class="badge bg-success" *ngIf="records?.is_hod_approved && !records?.is_slt_approved">HOD APPROVED</span>
                    <span class="badge bg-success" *ngIf="records?.is_slt_approved && !records?.is_hof_approved">SLT APPROVED</span>
                    <span class="badge bg-success" *ngIf="records?.is_hof_approved && !records?.is_ceo_approved">FINANCE APPROVED</span>
                  </span>
                  <span *ngIf="records?.status == 'CLOSED'" class="badge bg-success">CLOSED</span>
                  <span *ngIf="records?.status == 'REJECTED'" class="badge bg-danger">REJECTED</span>
                  <span *ngIf="records?.status == 'INCOMPLETE'" class="badge bg-warning">INCOMPLETE</span>
                  <span *ngIf="records?.status == 'ASSIGNED'" class="badge bg-info">ASSIGNED</span>
                  <span *ngIf="records?.status == 'RESUBMITTED'" class="badge bg-purple">RESUBMITTED</span>
                </td> 
              </tr>
              <tr>
                <th>Approvals</th>
                <td>
                  <ul>
                    <li *ngFor="let item of records?.approvals">
                      {{item?.status | titlecase}} by {{item?.action_by?.first_name}} {{item?.action_by?.last_name}} for {{item?.status_for}}
                    </li>
                  </ul>
                </td>
              </tr>
              <!-- <tr>
                <th>Budget Code</th>
                <td>
                  <span *ngIf="records?.budget_code">{{ records?.budget_code}}</span>
                  <span *ngIf="!records?.budget_code">-</span>
                </td> 
              </tr> -->
              <!-- <tr>
                <th>Travel Order No</th>
                <td>
                  <span *ngIf="records?.travel_order_no">{{ records?.travel_order_no}}</span>
                  <span *ngIf="!records?.travel_order_no">-</span>
                </td> 
              </tr> -->
              <tr *ngIf="records?.cash_office?.length > 0">
                <th class="text-nowrap">Cash Office</th>
                <td>
                  <ul class="list-group list-group-flush">
                    <ng-container *ngFor="let item of records?.cash_office">
                      <li class="list-group-item"><span class="fw-bold">Amount:</span> {{item?.amount | currency:'KES '}}</li>
                      <li class="list-group-item"><span class="fw-bold">Transaction Code:</span> {{item?.transaction_code}}</li>
                      <li class="list-group-item"><span class="fw-bold">Message:</span> {{item?.message}}</li>
                    </ng-container>
                  </ul>
                </td> 
              </tr>
              <tr>
                <th class="text-nowrap">Date Submitted</th>
                <td>{{ records?.date_created | date:'MMM d, y, h:mm:ss a' }}</td> 
              </tr>
              <tr *ngIf="records?.status == 'CLOSED'">
                <th class="text-nowrap">Date Closed</th>
                <td>{{ records?.date_closed | date:'MMM d, y, h:mm:ss a' }}</td> 
              </tr>  
              <tr *ngIf="records?.status == 'CLOSED'">
                <th class="text-nowrap">Closed By</th>
                <td>{{ records?.closed_by?.first_name }} {{ records?.closed_by?.last_name }} <span class="fw-bold">FROM</span>  {{ records?.closed_by?.department?.name }}</td> 
              </tr> 
              <tr *ngIf="records?.status == 'CLOSED' && records?.mode_of_transport == 'FLIGHT'">
                <th>Cost</th>
                <td>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item"><span class="fw-bold">Airline:</span>  {{records?.administration?.cost?.airline}}</li>
                    <li class="list-group-item"><span class="fw-bold">Ticket Cost:</span> {{records?.administration?.cost?.ticket_cost |currency:'KES '}}</li>
                    <li class="list-group-item"><span class="fw-bold">Travel Agent:</span> {{records?.administration?.cost?.travel_agent}}</li>
                  </ul>
                </td> 
              </tr> 
              <tr *ngIf="records?.status == 'CLOSED' && records?.mode_of_transport == 'FLIGHT'">
                <th class="text-nowrap">Bill Settlement By</th>
                <td>{{ records?.administration?.bill_settlement_by}}</td> 
              </tr>       
            </tbody>
          </table>
        </div>
        <!-- 2nd Column -->
        <div class="col-sm-12 col-md-3 bg-light" *ngxPermissionsOnly="['CEO','HOF','CASH_OFFICE','TRANSPORT','ADMINISTRATOR', 'SLT','HOD']">
          <div class="card" >
            <div class="card-header fw-bold">
              <i class="fa fa-wrench"></i> Actions
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item" *ngxPermissionsOnly="['SLT']">
                <button class="btn btn-success btn-sm col-sm-12" *ngIf="records?.is_hod_approved" (click)="approve_as('SLT',records?.id)" [disabled]="records?.is_slt_approved">Approve as SLT</button>
                <span *ngIf="!records?.is_slt_and_hof">
                  <button class="btn btn-info btn-sm col-sm-12 my-2" (click)="update_request_status('INCOMPLETE', records?.id)" [disabled]="records?.status == 'REJECTED' || records?.status == 'INCOMPLETE' || records?.is_slt_approved">Incomplete</button><br>
                  <button class="btn btn-danger btn-sm col-sm-12 my-2" (click)="update_request_status('REJECTED', records?.id)" [disabled]="records?.status == 'REJECTED' || records?.is_slt_approved ">Reject</button>
                </span>
              </li>
              <li class="list-group-item" *ngxPermissionsOnly="['HOD']">
                <button class="btn btn-success btn-sm btn-sm col-sm-12" (click)="approve_as('HOD',records?.id)" [disabled]="records?.is_hod_approved">Approve</button><br>
                <button class="btn btn-info btn-sm btn-sm col-sm-12 my-2" (click)="update_request_status('INCOMPLETE', records?.id)" [disabled]="records?.status == 'REJECTED' || records?.status == 'INCOMPLETE'|| records?.is_hod_approved">Incomplete</button><br>
                <button class="btn btn-danger btn-sm btn-sm col-sm-12" (click)="update_request_status('REJECTED', records?.id)" [disabled]="records?.status == 'REJECTED' || records?.is_hod_approved">Reject</button>
              </li>
              <li class="list-group-item" *ngxPermissionsOnly="['HOF']">
                <button class="btn btn-success btn-sm col-sm-12" (click)="approve_as('HOF',records?.id)" [disabled]="records?.is_hof_approved || !records?.is_slt_approved">Approve as Finance</button>
                <span *ngIf="!records?.is_slt_and_hof">
                  <button class="btn btn-info btn-sm col-sm-12 my-2" (click)="update_request_status('INCOMPLETE', records?.id)" [disabled]="records?.status == 'REJECTED' || records?.status == 'INCOMPLETE' || records?.is_hof_approved">Incomplete</button><br>
                  <button class="btn btn-danger btn-sm col-sm-12 my-2" (click)="update_request_status('REJECTED', records?.id)" [disabled]="records?.status == 'REJECTED' || records?.is_hof_approved ">Reject</button>
                </span>
              </li>
              <li class="list-group-item" *ngxPermissionsOnly="['CASH_OFFICE']">
                <button class="btn btn-success btn-sm col-12" *ngIf="records?.is_hof_approved" (click)="set_cash_office('CASH_OFFICE',records?.id);approveRequestModal.show()" [disabled]="records?.is_cash_office_approved">Disburse</button>
              </li>
              <li class="list-group-item" *ngxPermissionsOnly="['TRANSPORT']">
                <button class="btn btn-success btn-sm" (click)="approve_as('TRANSPORT',records?.id)" [disabled]="records?.is_transport_dpt_approved">Assign Vehicle</button>
              </li>
              <li class="list-group-item" *ngxPermissionsOnly="['CEO']">
                <button class="btn btn-success btn-sm col-sm-12" (click)="approve_as('CEO',records?.id)" [disabled]="records?.is_ceo_approved">Approve</button><br>
                <button class="btn btn-info btn-sm col-sm-12 my-2" (click)="update_request_status('INCOMPLETE', records?.id)" [disabled]="records?.status == 'REJECTED' || records?.status == 'INCOMPLETE'|| records?.is_ceo_approved">Incomplete</button><br>
                <button class="btn btn-danger btn-sm col-sm-12" (click)="update_request_status('REJECTED', records?.id)" [disabled]="records?.status == 'REJECTED' || records?.is_ceo_approved">Reject</button>
              </li>
              <li class="list-group-item" *ngxPermissionsOnly="['ADMINISTRATOR']">
                <button class="btn btn-success btn-sm" (click)="processModal.show(); set_request_id(records?.id)" [disabled]="records?.is_administrator_approved"><i class="fa fa-spinner"></i> Process</button>
              </li>
              <li class="list-group-item" *ngIf="records?.is_slt_and_hof">
                <button class="btn btn-info btn-sm col-sm-12 my-2" (click)="update_request_status('INCOMPLETE', records?.id)" [disabled]="records?.status == 'REJECTED' || records?.status == 'INCOMPLETE' || records?.is_hof_approved">Incomplete</button><br>
                <button class="btn btn-danger btn-sm col-sm-12 my-2" (click)="update_request_status('REJECTED', records?.id)" [disabled]="records?.status == 'REJECTED' || records?.is_hof_approved ">Reject</button>
              </li>
              <li class="list-group-item" *ngxPermissionsExcept="['TRANSPORT','CASH_OFFICE','ADMINISTRATOR']"> 
                <!-- <div class="btn-group me-3 mt-2 text-center ms-0 me-0 col-sm-12"> -->
                  <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown" class="text-center">
                    <button type="button" class="btn btn-outline-primary col-sm-12 text-center" ngbDropdownToggle>Forward To </button>
                    <div class="dropdown-menu" ngbDropdownMenu>
                      <button ngbDropdownItem (click)="forward_travel_request('HOD',records?.id)" *ngxPermissionsOnly="['USER']" [disabled]="records?.requires_hod_approval || records?.is_hod_approved">HOD</button>
                      <button ngbDropdownItem (click)="forward_travel_request('SLT',records?.id)" *ngxPermissionsOnly="['HOD']" [disabled]="records?.requires_slt_approval || records?.is_slt_approved">SLT</button>
                      <button ngbDropdownItem (click)="forward_travel_request('HOF',records?.id)" *ngxPermissionsOnly="['HOD','SLT']" [disabled]="records?.requires_hof_approval || records?.is_hof_approved">HOF</button>
                      <button ngbDropdownItem (click)="forward_travel_request('CEO',records?.id)" *ngxPermissionsOnly="['HOD','SLT','HOF']" [disabled]="records?.requires_ceo_approval || records?.is_ceo_approved">CEO</button>
                      <button ngbDropdownItem (click)="forward_travel_request('CASH_OFFICE',records?.id)" *ngxPermissionsOnly="['HOD','SLT','HOF']" [disabled]="records?.requires_cash_office_approval || records?.is_cash_office_approved">CASH OFFICE</button>
                      <button ngbDropdownItem (click)="forward_travel_request('TRANSPORT',records?.id)" *ngxPermissionsOnly="['HOD','SLT','HOF']" [disabled]="records?.requires_transport_approval || records?.is_transport_dpt_approved">TRANSPORT</button>
                      <button ngbDropdownItem (click)="forward_travel_request('ADMINISTRATOR',records?.id)" *ngxPermissionsOnly="['HOD','SLT','HOF']" [disabled]="records?.requires_administrator_approval || records?.is_administrator_approved">ADMINISTRATOR / PA</button>
                    </div>
                  </div>
                  <!-- <button type="button" class="btn btn-success" (click)="create_request()">Send Request</button> -->
                <!-- </div> -->
              </li>
            </ul>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>
