<div bsModal #createModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-success" role="document">
    <div class="modal-content">
      <div class="modal-header text-white nrb-btn-dark-success m-0 p-2">
        <h6 class="modal-title">Create Project</h6>
        <button type="button" class="close btn text-white nrb-btn-dark-success m-0 p-0" (click)="createModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="createRecordForm" >
          <div class="form-group row mb-2">
            <label class="col-sm-3 col-form-label" for="input-small">Project Type</label>
            <div class="col-sm-9">
              <ng-select formControlName="type" placeholder="--select below--" (change)="set_project_type($event)">
                <ng-option value="MAIN">Main Project</ng-option>
                <ng-option value="SUB">Sub Project</ng-option>
              </ng-select>
            </div>
          </div>
          <div class="form-group row mb-2" *ngIf="project_type == 'SUB'">
            <label class="col-sm-3 col-form-label" for="input-small">Main Project</label>
            <div class="col-sm-9">
              <ng-select formControlName="main_project" placeholder="--select below--">
                <ng-option [value]="project.id" *ngFor="let project of main_projects">{{project?.name}} </ng-option>
              </ng-select>
            </div>
          </div>
          <div class="form-group row mb-2">
            <label class="col-sm-3 col-form-label" for="input-small" >Name</label>
            <div class="col-sm-9">
              <input type="text"  name="name" class="form-control form-control-md" placeholder="Type here..." [ngClass]="{'form-submitted': formSubmitted}"  formControlName="name" required >
            </div>
          </div>
          <div class="form-group row mb-2">
            <label class="col-sm-3 col-form-label" for="input-small">Start Date</label>
            <div class="col-sm-9">
              <input type="date" class="form-control form-control-md" placeholder="" [ngClass]="{'form-submitted': formSubmitted}"  formControlName="start_date" required >
            </div>
          </div>
          <div class="form-group row mb-2">
            <label class="col-sm-3 col-form-label" for="input-small">End Date</label>
            <div class="col-sm-9">
              <input type="date" class="form-control form-control-md" placeholder="" [ngClass]="{'form-submitted': formSubmitted}"  formControlName="end_date" required >
            </div>
          </div>
          <div class="form-group row mb-2">
            <label class="col-sm-3 col-form-label" for="input-small">Category</label>
            <div class="col-sm-9">
              <ng-select formControlName="sub_category" placeholder="--select below--">
                <ng-option [value]="sub_category.id" *ngFor="let sub_category of sub_categories">{{sub_category?.name}}</ng-option>
              </ng-select>
            </div>
          </div>
          <div class="form-group row mb-2">
            <label class="col-sm-3 col-form-label" for="input-small">Budget</label>
            <div class="col-sm-9">
              <input type="number" class="form-control form-control-md" placeholder="Type here..." [ngClass]="{'form-submitted': formSubmitted}"  formControlName="budget" required >
            </div>
          </div>
          <div class="form-group row mb-2">
            <label class="col-sm-3 col-form-label" for="input-small">Lead</label>
            <div class="col-sm-9">
              <ng-select formControlName="lead_coach" placeholder="--select below--">
                <ng-option [value]="user.id" *ngFor="let user of users">{{user?.first_name}} {{user?.last_name}}</ng-option>
              </ng-select>
            </div>
          </div>
          <div class="form-group row mb-2">
            <label class="col-sm-3 col-form-label" for="input-small">Directorate</label>
            <div class="col-sm-9">
              <ng-select formControlName="directorate" placeholder="--select below--">
                <ng-option [value]="directorate.id" *ngFor="let directorate of directorates">{{directorate?.name}}</ng-option>
              </ng-select>
            </div>
          </div>
          <div class="form-group row mb-2">
            <label class="col-sm-3 col-form-label" for="input-small">Risks</label>
            <div class="col-sm-9">
              <textarea rows="6" class="form-control form-control-md" placeholder="Type here..." [ngClass]="{'form-submitted': formSubmitted}"  formControlName="risks" required ></textarea>
            </div>
          </div>
          
        </form>
        <div >
          <div class="form-group mb-2 row">
            <label class="col-form-label col-sm-3" for="input-small">Ward</label>
            <div class="col-sm-9">
              <ng-select [(ngModel)]="ward" placeholder="--select below--">
                <ng-option  value="N/A">N/A</ng-option>
                <ng-container *ngFor="let ward of wards">
                  <ng-option  [value]="ward?.id">{{ward?.name}}</ng-option>
                </ng-container>
              </ng-select>
            </div>
          </div>
          <div class="form-group mb-2 row">
            <label class="col-form-label col-sm-3" for="input-small">Estate</label>
            <div class="col-sm-9">
              <input type="text"  class="form-control form-control-md" placeholder="Type here..." [(ngModel)]="estate" >
            </div>
          </div>
          <div class="form-group mb-2 row">
            <label class="col-form-label col-sm-3" for="input-small">Road</label>
            <div class="col-sm-9">
              <input type="text"  class="form-control form-control-md" placeholder="Type here..." [(ngModel)]="road" >
            </div>
          </div>
        </div>
      </div>
      
      <div class="modal-footer">
        <!-- <button   class="btn btn-warning col-md-4 text-white" (click)="resetForm()">Reset</button> -->
        <button  type="submit"  (click)="createRecord()" class="btn nrb-btn-dark-success col-md-4 text-white">Save</button>
      
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div bsModal #editModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-primary" role="document">
    <div class="modal-content">
      <div class="modal-header text-white nrb-btn-dark-success m-0 p-2">
        <h6 class="modal-title">Project</h6>
        <button type="button" class="close btn text-white nrb-btn-dark-success m-0 p-0" (click)="editModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="editRecordForm" >
          <!-- <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="input-small">Id</label>
            <div class="col-sm-9"> -->
              <input type="text"  hidden  name="input-small" class="form-control form-control-md" placeholder="" [ngClass]="{'form-submitted': formSubmitted}"  formControlName="id" required >
            <!-- </div>
          </div> -->
          <div class="form-group row mb-2">
            <label class="col-sm-3 col-form-label" for="input-small">Project Type</label>
            <div class="col-sm-9">
              <ng-select formControlName="type" placeholder="--select below--" (change)="set_project_type($event)">
                <ng-option value="MAIN">Main Project</ng-option>
                <ng-option value="SUB">Sub Project</ng-option>
              </ng-select>
            </div>
          </div>
          <div class="form-group row mb-2" *ngIf="project_type == 'SUB'">
            <label class="col-sm-3 col-form-label" for="input-small">Main Project</label>
            <div class="col-sm-9">
              <ng-select formControlName="main_project" placeholder="--select below--">
                <ng-option [value]="project.id" *ngFor="let project of main_projects">{{project?.name}} </ng-option>
              </ng-select>
            </div>
          </div>
          <div class="form-group row mb-2">
            <label class="col-sm-3 col-form-label" for="input-small">Name</label>
            <div class="col-sm-9">
              <input type="text"  name="input-small" class="form-control form-control-md" placeholder="" [ngClass]="{'form-submitted': formSubmitted}"  formControlName="name" required >
            </div>
          </div>
          <div class="form-group row mb-2">
            <label class="col-sm-3 col-form-label" for="input-small">Start Date</label>
            <div class="col-sm-9">
              <input type="date" class="form-control form-control-md" placeholder="" [ngClass]="{'form-submitted': formSubmitted}"  formControlName="start_date" required >
            </div>
          </div>
          <div class="form-group row mb-2">
            <label class="col-sm-3 col-form-label" for="input-small">End Date</label>
            <div class="col-sm-9">
              <input type="date" class="form-control form-control-md" placeholder="" [ngClass]="{'form-submitted': formSubmitted}"  formControlName="end_date" required >
            </div>
          </div>
          <div class="form-group row mb-2">
            <label class="col-sm-3 col-form-label" for="input-small">Category</label>
            <div class="col-sm-9">
              <ng-select formControlName="sub_category" placeholder="--select below--">
                <ng-option [value]="sub_category.id" *ngFor="let sub_category of sub_categories">{{sub_category?.name}}</ng-option>
              </ng-select>
            </div>
          </div>
          <div class="form-group row mb-2">
            <label class="col-sm-3 col-form-label" for="input-small">Budget</label>
            <div class="col-sm-9">
              <input type="number" class="form-control form-control-md" placeholder="" [ngClass]="{'form-submitted': formSubmitted}"  formControlName="budget" required >
            </div>
          </div>
          <div class="form-group row ">
            <label class="col-sm-3 col-form-label" for="input-small">Lead Coach</label>
            <div class="col-sm-9">
              <ng-select  formControlName="lead_coach" placeholder="--select below--">
                <ng-option [value]="user.id" *ngFor="let user of users">{{user?.first_name}} {{user?.last_name}}</ng-option>
              </ng-select>
            </div>
          </div>
          <br>      
          <div class="form-group row mb-2">
            <label class="col-sm-3 col-form-label" for="input-small">Directorate</label>
            <div class="col-sm-9">
              <ng-select formControlName="directorate" placeholder="--select below--">
                <ng-option [value]="directorate.id" *ngFor="let directorate of directorates">{{directorate?.name}}</ng-option>
              </ng-select>
            </div>
          </div>
          <div class="form-group row mb-2">
            <label class="col-sm-3 col-form-label" for="input-small">Risks</label>
            <div class="col-sm-9">
              <textarea rows="6" class="form-control form-control-md" placeholder="Type here..." [ngClass]="{'form-submitted': formSubmitted}"  formControlName="risks" required ></textarea>
            </div>
          </div>
        </form>
        <section>
            <div class="form-group mb-2 row">
              <label class="col-form-label col-sm-3" for="input-small">Ward</label>
              <div class="col-sm-9">
                <ng-select [(ngModel)]="ward" placeholder="--select below--">
                  <ng-option  value="N/A">N/A</ng-option>
                  <ng-container *ngFor="let ward of wards">
                    <ng-option  [value]="ward?.id">{{ward?.name}}</ng-option>
                  </ng-container>
                </ng-select>
              </div>
            </div>
            <div class="form-group mb-2 row">
              <label class="col-form-label col-sm-3" for="input-small">Estate</label>
              <div class="col-sm-9">
                <input type="text"  class="form-control form-control-md" placeholder="Type here..." [(ngModel)]="estate" required >
              </div>
            </div>
            <div class="form-group mb-2 row">
              <label class="col-form-label col-sm-3" for="input-small">Road</label>
              <div class="col-sm-9">
                <input type="text"  class="form-control form-control-md" placeholder="Type here..." [(ngModel)]="road" required >
              </div>
            </div>
        </section>
      </div>
        
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary text-white" (click)="editModal.hide()">Close</button>
        <button type="button" class="btn btn-success text-white" (click)="saveEditChanges()">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<div class="animated fadeIn">
  <div class="card">
    <div class="card-header nrb-btn-dark-success">
      <strong>Projects</strong>
      <span class="pointer float-end text-white" (click)="back_btn()">
        <span class="fa fa-arrow-left   " ></span>
        &nbsp;<b>Back</b>
     </span>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-2" *ngxPermissionsExcept="['VIEWER']">
          <button type="button" class="btn btn-block btn-success text-white" (click)="createModal.show()"><i
              class="fa fa-plus"></i> Add New</button>
        </div>
      </div>
        <br />
        <div class="table-responsive">
      <table class="table table-striped table-bordered table-hover row-border  pt-3" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" >
        <thead>
          <tr>
           
            <th style="width: 2%">
               #
              </th>
              <th style="width: 15%">
                Name
              </th>
              <th>Type</th>
              <th>Category</th>
              <th>Budget</th>
              <th>
                Start Date
              </th>
              <th>
                End Date
              </th>
              <th>
                Lead
              </th>
              <th>Sector</th>
              <th>Location</th>
              <th style="width: 15%">Risks</th>
              <th *ngxPermissionsExcept="['VIEWER']">
                Action
              </th>
          </tr>
        </thead>
        <tbody *ngIf="records?.length != 0">
            <tr *ngFor="let recordinstance of records | filter : searchString; let i = index">
            <td>{{i + 1}}</td>
            <td>{{ recordinstance?.name }}</td>   
            <td>{{ recordinstance?.type }}</td>   
            <td class="text-center">
              <span *ngIf="recordinstance?.sub_category"> {{ recordinstance?.sub_category?.name }}</span>
              <!-- <span *ngIf="!recordinstance?.sub_category">CIDP </span> -->
            </td>           
            <td>{{ recordinstance?.budget }}</td>            
            <td>{{ recordinstance?.start_date | date }}</td>            
            <td>{{ recordinstance?.end_date | date }}</td>            
            <td>{{ recordinstance?.lead_coach.first_name }} {{ recordinstance.lead_coach.last_name }}</td>     
            <td>
              <ng-template #sector>
                <ul class="list-group list-group-flush" *ngIf="recordinstance?.location?.ward?.name">
                  <li class="list-group-item mx-0 px-1" >
                   <strong>Sector:</strong>  {{recordinstance?.directorate?.sub_sector?.sector?.name}}
                  </li>
                  <li class="list-group-item mx-0 px-1" >
                    <strong>Sub Sector:</strong> {{recordinstance?.directorate?.sub_sector?.name}}
                  </li>
                  <li class="list-group-item mx-0 px-1" >
                    <strong>Directorate:</strong> {{recordinstance?.directorate?.name}}
                  </li>
                </ul>
              </ng-template>
              <ng-template #sectorTitle><b>Sector</b></ng-template>
              <button type="button" class="btn btn-outline-secondary" [ngbPopover]="sector" [popoverTitle]="sectorTitle">
                Sector
              </button>
            </td>       
            <td class="text-center">
              <ng-template #location>
                <ul class="list-group list-group-flush" >
                  <li class="list-group-item mx-0 px-1" *ngIf="recordinstance?.location?.ward?.name">
                   <strong>Ward:</strong>  {{recordinstance?.location?.ward?.name}}
                  </li>
                  <li class="list-group-item mx-0 px-1" *ngIf="!recordinstance?.location?.ward?.name">
                    <strong>Ward:</strong>  {{recordinstance?.location?.ward}}
                   </li>
                  <li class="list-group-item mx-0 px-1" >
                    <strong>Estate:</strong>  {{recordinstance?.location?.estate}}
                  </li>
                  <li class="list-group-item mx-0 px-1" >
                    <strong>Road:</strong>  {{recordinstance?.location?.road}}
                  </li>
                </ul>
              </ng-template>
              <ng-template #locationTitle><b>Location</b></ng-template>
              <button type="button" class="btn btn-outline-secondary" [ngbPopover]="location" [popoverTitle]="locationTitle" >
                Location
              </button>
              <!-- <h6 *ngIf="recordinstance?.type == 'MAIN'">N/A</h6> -->
            </td>      
            <td>{{ recordinstance?.risks }}</td>  
            <td *ngxPermissionsExcept="['VIEWER']" class="text-nowrap">
              <button type="button" class="btn btn-info  btn-sm me-2 " (click)="editRecord(i)"> <i
                  class="fa fa-pencil "></i> </button>

              <button type="button" class="btn btn-danger  btn-sm " (click)="deleteInstanceRecord(recordinstance?.id)"> <i
                  class="fa fa-trash "></i> </button>
            </td>

          </tr>
        </tbody>
        <tbody *ngIf="records?.length == 0">
          <tr>
            <td colspan="9" class="no-data-available">No data available</td>
          </tr>
        <tbody>
      </table>
      </div>
    </div>
  </div>
</div>


