
<div bsModal #assignModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-success" role="document">
    <div class="modal-content">
      <div class="modal-header text-white bg-purple m-0 p-2">
        <h6 class="modal-title">Assign Quote</h6>
        <button type="button" class="close btn text-white site-btn-purple m-0 p-0" (click)="assignModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="AssignRecordForm" >
          <div class="form-group mb-3">
            <label class="col-form-label" for="input-small">Staff</label>
            <div class="">
              <ng-select formControlName="staff" placeholder="-- select below --">
                <ng-option [value]="user?.id" *ngFor="let user of users">{{user?.first_name}} {{user?.last_name}}</ng-option>
              </ng-select>
            </div>
          </div>
                  
        </form>
      </div>
      
      <div class="modal-footer">
        <!-- <button   class="btn btn-warning col-md-4 text-white" (click)="resetForm()">Reset</button> -->
        <button  type="submit"  (click)="assign_quote()" class="btn site-btn-purple col-md-4 text-white" *ngIf="!reassign">Assign</button>
        <button  type="submit"  (click)="reassign_quote()" class="btn site-btn-purple col-md-4 text-white" *ngIf="reassign">Reassign</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="animated fadeIn mb-4"  *ngIf="display">
  <div class="card" >
    <div class="card-header site-btn-success-dark">
      <strong>Requisitions</strong>
     <span class="pointer float-end text-white " (click)="toggle_display()">
          <span class="fw-bold"><i class="fa fa-plus-circle" ></i> Add New</span>
      </span>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <div class="float-en mb-3 mt-2 pt-0">
          <input type="text" [(ngModel)]="searchString" placeholder="Search..." class="my-0">
          <button class="btn btn-outline-success float-end btn-sm mx-2" (click)="fetchRecords()"><i class="fa fa-refresh" aria-hidden="true"></i></button>
          <button class="btn btn-outline-success float-end btn-sm" (click)="fetchRecords(1,'pending')">Pending</button>
        </div>
        
        <table class="table table-striped table-bordered table-hover row-border  pt-0 mb-3" >
          <thead class="mt-0">
            <tr>
              <th>Request ID</th>
              <th>Position Title</th>
              <th>Position Type</th>
              <th>Nature of Hiring</th>
              <th>Department</th>
              <th class="text-center">Status</th>
              <th>Date Requested</th>
              <th *ngxPermissionsExcept="['VIEWER']">
                Action
              </th>
            </tr>
          </thead>
          <tbody>
              <tr *ngFor="let recordinstance of records?.results | filter : searchString; let i = index">
              <td>{{ recordinstance?.uid }}</td>   
              <td>{{ recordinstance?.position_title }}</td>   
              <td>{{ recordinstance?.position_type }}</td>   
              <td>{{ recordinstance?.nature_of_hiring }}</td>   
              <td>{{ recordinstance?.department?.name }}</td>    
              <td class="text-center">
                <span *ngIf="recordinstance?.status != 'REQUESTED' && recordinstance?.status != 'DECLINED' && recordinstance?.status != 'CANCELED' && recordinstance?.status != 'ONHOLD'" class="badge bg-success">
                  {{recordinstance?.status}}
                </span>
                <span *ngIf="recordinstance?.status == 'ONHOLD'" class="badge bg-danger">ON HOLD</span>
                <span *ngIf="recordinstance?.status == 'DECLINED'" class="badge bg-danger">DECLINED</span>
                <span *ngIf="recordinstance?.status == 'CANCELED'" class="badge bg-warning">CANCELED</span>
                <span *ngIf="recordinstance?.status == 'REQUESTED'" class="badge bg-primary">REQUESTED</span>
              </td>   
              <td>{{ recordinstance?.date_created | date}}</td>         
              <td *ngxPermissionsExcept="['VIEWER']" class="text-nowrap">
  
                    <div ngbDropdown container="body">
                      <button type="button" class="btn btn-outline-primary btn-sm" ngbDropdownToggle>Actions</button>
                      <div ngbDropdownMenu>
                        <button ngbDropdownItem (click)="view_request(recordinstance?.id)">View</button>         
                          <!-- <div class="dropdown-divider"></div>
                          <button ngbDropdownItem (click)="editRecord(i)" >Edit</button> -->
                      </div>
                    </div>
              </td>
            </tr>
          </tbody>
          <tbody *ngIf="records?.count == 0">
            <tr>
              <td colspan="9" class="no-data-available">No data available</td>
            </tr>
          <tbody>
        </table>
        <div *ngIf="records?.count > 50">
          <!-- <p>Default pagination:</p> -->
          <ngb-pagination [collectionSize]="records?.count" [pageSize]="50" [(page)]="page" (pageChange)="getPageFromService($event)" aria-label="Default pagination" class="d-flex justify-content-end"></ngb-pagination>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="animated fadeIn mb-4" *ngIf="!display" >
  <div class="card">
    <div class="card-header site-btn-success-dark">
      <strong *ngIf="!is_editing"><i class="fa fa-pencil"></i> Create Requisition </strong>
      <strong *ngIf="is_editing"><i class="fa fa-pencil"></i> Editing Requisition </strong>
      <span class="pointer float-end text-white" (click)="toggle_display()">
        <span class="fa fa-times   " ></span> &nbsp;<b>Close</b> 
     </span>
    </div>
    <div class="card-body container">
      <div class="table-responsive" style="overflow-x: hidden !important;">
        <form [formGroup]="createRecordForm" >
          <div class="row mb-2">
            <div class="col-sm-12 col-md-6">
              <div class="form-group">
                <label for="department" class="col-form-label fw-bold">Department</label>
                <ng-select formControlName="department" id="department">
                    <ng-option value="" disabled>-- Select Below --</ng-option>
                    <ng-option *ngFor="let department of departments" value={{department.id}}>
                        {{department.name}}
                    </ng-option>
                </ng-select>
              </div>
            </div>
            <div class="col-sm-12 col-md-6">
              <div class="form-group">
                <label class="col-form-label fw-bold" for="nature_of_hiring">Cluster</label>
                <div class="">
                  <ng-select formControlName="sub_department" id="sub_department" (change)="containsOHCOrOutreach($event)">
                    <ng-option value="" disabled>-- Select Below --</ng-option>
                    <ng-option *ngFor="let department of sub_departments" value={{department.id}}>
                        {{department.name}}
                    </ng-option>
                  </ng-select>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 mb-3" *ngIf="activate_ohcs">
            <div class="form-group">
              <label class="col-form-label fw-bold" for="nature_of_hiring">OHC</label>
              <div class="">
                <ng-select formControlName="ohc" id="ohc">
                  <ng-option value="" disabled>-- Select Below --</ng-option>
                  <ng-option *ngFor="let item of ohcs" value={{item.id}}>
                      {{item.name}}
                  </ng-option>
                </ng-select>
              </div>
            </div>
          </div>
          <div class="col-sm-12 mb-3">
            <div class="form-group">
              <label class="col-form-label fw-bold" for="nature_of_hiring">Nature of hiring</label>
              <div class="">
                <ng-select formControlName="nature_of_hiring" placeholder="-- select below --">
                  <ng-option value="" disabled>-- Select Below --</ng-option>
                  <ng-option value="Replacement">Replacement</ng-option>
                  <ng-option value="New Position">New Position</ng-option>
                  <ng-option value="New Service">New Service</ng-option>
                </ng-select>
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-sm-12 col-md-6">
              <div class="form-group">
                <label for="position_title" class="col-form-label fw-bold">Position Title</label>
                <input id="position_title"  type="text" class="form-control" formControlName="position_title" placeholder="...">  
              </div>
            </div>
            <div class="col-sm-12 col-md-6">
              <div class="form-group">
                <label class="col-form-label fw-bold" for="position_type">Position Type</label>
                <div class="">
                  <ng-select formControlName="position_type" placeholder="-- select below --">
                    <ng-option value="" disabled >-- Select Below --</ng-option>
                    <ng-option value="Permanent" >Permanent</ng-option>
                    <ng-option value="Temporary">Temporary</ng-option>
                  </ng-select>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 mb-3">
            <div class="form-group">
              <label class="col-form-label fw-bold" for="qualifications">Minimum academic and professional qualifications</label>
              <div>
                <textarea formControlName="qualifications" id="qualifications" rows="6" placeholder="Type here..." class="form-control" style="white-space: pre-wrap;"></textarea>
              </div>
            </div>
          </div>
          <div class="col-sm-12 mb-4">
            <div class="form-group">
              <label class="col-form-label fw-bold m-0" for="job_description">
                <span class="fw-bold" *ngIf="createRecordForm?.value?.position_type == 'Permanent' || !createRecordForm?.value?.position_type">Upload Job Description</span>
                <span class="fw-bold" *ngIf="createRecordForm?.value?.position_type == 'Temporary'">Upload Tasks</span>
              </label>
              <p class="mt-0 mb-1">
                <small *ngIf="record?.job_description" class="my-0">
                  Current file: 
                  <a href="{{serverurl}}{{record?.job_description}}" target="_blank" rel="noopener noreferrer" class="text-decoration-none">
                  View file
                  </a>
                </small>
              </p>
              <!-- <textarea formControlName="job_description" id="job_description" rows="6" placeholder="Type here..." class="form-control" style="white-space: pre-wrap;"></textarea> -->
              <input id="job_description"  type="file" class="form-control" (change)="handleFileupload($event)">
            </div>
          </div>

          <div class="col-sm-12 mb-3">
            <div class="form-group">
              <label class="col-form-label fw-bold" for="justification">Justification</label>
              <div>
                <textarea formControlName="justification" id="justification" rows="6" placeholder="Type here..." class="form-control" style="white-space: pre-wrap;"></textarea>
              </div>
            </div>
          </div>
        </form>

        <div class="card mt-2 mb-3">
          <div class="card-body">
            <label for="" class="fw-bold">Name(s) of existing staff bearing the same job title </label>
            <div class="row" >
              <div class="col-sm-12">
                <div class="form-group ">
                  <label for="evidence" class="control-label fw-bold mt-2">
                    Staff Name 
                  </label>
                  <div class="row">
                    <div class="col-sm-12 col-md-8">
                      <div class="employee_name">
                        <input id="employee_name"  type="text" class="form-control" [(ngModel)]="employee_name" placeholder="...">         
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                      <button class="float-end btn btn-secondary col-12" (click)="create_employees()">Add</button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- display added employees -->
              <div class="container">
                <table class="wikitable" width="100%">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th width="80%">Staff</th>
                      <th class="text-center"><i class="fa fa-bars"></i></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of employees; let i = index">
                      <td>{{i+1}}</td>
                      <td>{{item}}</td>
                      <td class="text-center">
                        <span class="text-primary pointer" (click)="edit_employee(i)"><i class="fa fa-pencil"></i></span>
                        <span class="mx-3">|</span>
                        <span class="text-danger pointer" (click)="remove_employee(i)"><i class="fa fa-trash"></i></span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        
        <form [formGroup]="createRecordForm" >
          <div class="col-sm-12" *ngIf="employees?.length > 0">
            <div class="form-group">
              <label class="col-form-label fw-bold" for="reasons_for_not_sharing_tasks">Reasons why the tasks cannot be shared amongst the existing staff</label>
              <textarea formControlName="reasons_for_not_sharing_tasks" id="reasons_for_not_sharing_tasks" rows="6" placeholder="Type here..." class="form-control" style="white-space: pre-wrap;"></textarea>
            </div>
          </div>

          <div class="col-sm-12 mt-3 mb-4">
            <div class="form-group">
              <label class="col-form-label fw-bold" for="filling_date">How soon do you propose to fill the position?</label>
              <input id="filling_date"  type="date" class="form-control" formControlName="filling_date">  
            </div>
          </div>

          <div class="mt-2" *ngIf="createRecordForm?.value?.position_type == 'Temporary'">
            <p class="fw-bold my-1">Temporary hire period</p>
            <div class="row mb-4">
              <div class="form-group col-sm-12 col-md-6">
                <label class="col-form-label fw-bold" for="period_from">Period From</label>
                <input id="period_from"  type="date" class="form-control" formControlName="period_from">  
              </div>
    
              <div class="form-group col-sm-12 col-md-6">
                <label class="col-form-label fw-bold" for="period_to">Period To</label>
                <input id="period_to"  type="date" class="form-control" formControlName="period_to">  
              </div>
            </div>
          </div>

          <div class="col-sm-12">
            <div class="form-group">
              <label class="col-form-label fw-bold" for="temporary_task_assignment_to">Who will perform those tasks until you recruit?</label>
              <input id="temporary_task_assignment_to"  type="text" class="form-control" formControlName="temporary_task_assignment_to" placeholder="...">  
            </div>
          </div>
          
          
        </form>
        <!-- save button -->
        <div class="text-center mt-5 mb-2" *ngIf="!is_editing">
          <button class="btn btn-success col-sm-12 col-md-4" (click)="create_request()">Submit</button>
        </div>
        <!-- edit button -->
        <div class="text-center mt-5 mb-2" *ngIf="is_editing">
          <button class="btn btn-success col-sm-12 col-md-4" (click)="saveEditChanges()">Save Changes</button>
        </div>
      </div>
    </div>
  </div>
</div>



