
<div bsModal #assignModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-success" role="document">
    <div class="modal-content">
      <div class="modal-header text-white bg-purple m-0 p-2">
        <h6 class="modal-title">Assign Quote</h6>
        <button type="button" class="close btn text-white site-btn-purple m-0 p-0" (click)="assignModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="AssignRecordForm" >
          <div class="form-group mb-3">
            <label class="col-form-label" for="input-small">Staff</label>
            <div class="">
              <ng-select formControlName="staff" placeholder="-- select below --">
                <ng-option [value]="user?.id" *ngFor="let user of users">{{user?.first_name}} {{user?.last_name}}</ng-option>
              </ng-select>
            </div>
          </div>
                  
        </form>
      </div>
      
      <div class="modal-footer">
        <!-- <button   class="btn btn-warning col-md-4 text-white" (click)="resetForm()">Reset</button> -->
        <button  type="submit"  (click)="assign_quote()" class="btn site-btn-purple col-md-4 text-white" *ngIf="!reassign">Assign</button>
        <button  type="submit"  (click)="reassign_quote()" class="btn site-btn-purple col-md-4 text-white" *ngIf="reassign">Reassign</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="animated fadeIn mb-4"  *ngIf="display">
  <div class="card rounded-0" >
    <div class="card-header site-btn-success-dark rounded-0">
      <strong>Incidents</strong>
     <span class="pointer float-end text-white " (click)="toggle_display()" >
          <span class="fw-bold"><i class="fa fa-plus-circle" ></i> Add New</span>
      </span>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <div class="float-en mb-3 mt-2 pt-0">
          <input type="text" [(ngModel)]="searchString" placeholder="Search..." class="my-0">
          <button class="btn btn-outline-success float-end btn-sm rounded-0 mx-2" (click)="fetchRecords()"><i class="fa fa-refresh" aria-hidden="true"></i></button>
          <button class="btn btn-outline-success float-end btn-sm rounded-0" (click)="fetchRecords(1,'pending')">Pending</button>
        </div>
        
        <table class="table table-striped table-bordered table-hover row-border  pt-0 mb-3" >
          <thead class="mt-0">
            <tr>
              <th>Request ID</th>
              <th>Incident Type</th>
              <th>Issue Type</th>
              <th>Priority</th>
              <th>Location</th>
              <th>Date</th>
              <th class="text-center">Status</th>
              <th *ngxPermissionsExcept="['VIEWER']">
                Action
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let recordinstance of records?.results | filter : searchString; let i = index">
              <td>{{ recordinstance?.uid }}</td>   
              <td>{{ recordinstance?.type_of_incident | titlecase}}</td>   
              <td>{{ recordinstance?.type_of_issue | titlecase}}</td>   
              <td>{{ recordinstance?.priority }}</td>   
              <td>
                {{ recordinstance?.department?.name |titlecase}} - 
                {{ recordinstance?.location?.name |titlecase}} 
                <span *ngIf="recordinstance?.ohc?.name"> - {{ recordinstance?.ohc?.name |titlecase}}</span>
              </td>   
              <td>
                {{ recordinstance?.date_of_incident | date}} - 
                {{ recordinstance?.time_of_incident}} 
              </td>    
              <td class="text-center">
                <span *ngIf="recordinstance?.status == 'CLOSED'" class="badge bg-success">CLOSED</span>
                <span *ngIf="recordinstance?.status == 'ASSIGNED'" class="badge bg-info">ASSIGNED</span>
                <span *ngIf="recordinstance?.status == 'SUBMITTED'" class="badge bg-primary">SUBMITTED</span>
              </td>            
              <td *ngxPermissionsExcept="['VIEWER']" class="text-nowrap">
  
                    <div ngbDropdown container="body">
                      <button type="button" class="btn btn-outline-primary btn-sm" ngbDropdownToggle>Actions</button>
                      <div ngbDropdownMenu>
                        <button ngbDropdownItem (click)="view_request(recordinstance?.id)">View</button>
                        <div class="dropdown-divider"></div>
                        <button ngbDropdownItem (click)="deleteInstanceRecord(recordinstance?.id)" [disabled]="recordinstance?.status != 'SUBMITTED' || !recordinstance?.is_owner">Delete</button> 
                      </div>
                    </div>
              </td>
            </tr>
          </tbody>
          <tbody *ngIf="records?.count == 0">
            <tr>
              <td colspan="9" class="no-data-available">No data available</td>
            </tr>
          <tbody>
        </table>
        <div *ngIf="records?.count > 50">
          <!-- <p>Default pagination:</p> -->
          <ngb-pagination [collectionSize]="records?.count" [pageSize]="50" [(page)]="page" (pageChange)="getPageFromService($event)" aria-label="Default pagination" class="d-flex justify-content-end"></ngb-pagination>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="animated fadeIn mb-4" *ngIf="!display" >
  <div class="card rounded-0">
    <div class="card-header site-btn-success-dark rounded-0">
      <strong *ngIf="!is_editing"><i class="fa fa-pencil"></i> Create Incident </strong>
      <strong *ngIf="is_editing"><i class="fa fa-pencil"></i> Editing Incident </strong>
      <span class="pointer float-end text-white" (click)="toggle_display()">
        <span class="fa fa-times   rounded-0" ></span> &nbsp;<b>Close</b> 
     </span>
    </div>
    <div class="card-body container">
      <div class="table-responsive" style="overflow-x: hidden !important;">
        <form [formGroup]="createRecordForm" >
          <div class="card mb-3 rounded-0 bg-light">
            <div class="card-body">
              <div class="row mb-2">
                <div class="col-sm-12 col-md-6">
                  <div class="form-group">
                    <label for="incident" class="col-form-label fw-bold">Type of Incident</label>
                    <ng-select formControlName="type_of_incident" id="incident">
                        <ng-option value="" disabled>-- Select Below --</ng-option>
                        <ng-option value="Clinical">Clinical</ng-option>
                        <ng-option value="Non Clinical">Non Clinical</ng-option>
                    </ng-select>
                  </div>
                </div>
                <div class="col-sm-12 col-md-6">
                  <div class="form-group">
                    <label class="col-form-label fw-bold" for="priority">Priority</label>
                    <div class="">
                      <ng-select formControlName="priority" id="priority">
                        <ng-option value="" disabled>-- Select Below --</ng-option>
                        <ng-option value="Low">Low</ng-option>
                        <ng-option value="Medium">Medium</ng-option>
                        <ng-option value="High">High</ng-option>
                      </ng-select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mb-2">
                <div class="col-sm-12 col-md-6">
                  <div class="form-group">
                    <label for="department" class="col-form-label fw-bold">Department</label>
                    <ng-select formControlName="department" id="department">
                        <ng-option value="" disabled>-- Select Below --</ng-option>
                        <ng-option *ngFor="let department of departments" [value]="department?.id">
                            {{department?.name}}
                        </ng-option>
                    </ng-select>
                  </div>
                </div>
                <div class="col-sm-12 col-md-6">
                  <div class="form-group">
                    <label class="col-form-label fw-bold" for="nature_of_hiring">Location</label>
                    <div class="">
                      <ng-select formControlName="location" id="sub_department" (change)="containsOHCOrOutreach($event)">
                        <ng-option value="" disabled>-- Select Below --</ng-option>
                        <ng-option *ngFor="let department of sub_departments" [value]="department?.id">
                            {{department?.name}}
                        </ng-option>
                      </ng-select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 mb-3" *ngIf="activate_ohcs">
                <div class="form-group">
                  <label class="col-form-label fw-bold" for="nature_of_hiring">OHC</label>
                  <div class="">
                    <ng-select formControlName="ohc" id="ohc">
                      <ng-option value="" disabled>-- Select Below --</ng-option>
                      <ng-option *ngFor="let item of ohcs" [value]="item?.id">
                          {{item.name}}
                      </ng-option>
                    </ng-select>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-3 rounded-0 bg-light">
            <div class="card-body">
              <div class="row mb-3">
                <div class="col-sm-12 col-md-6">
                  <div class="form-group">
                    <label for="affected_person_name" class="col-form-label fw-bold">Name of Affected Person</label>
                    <input id="affected_person_name"  type="text" class="form-control" formControlName="affected_person_name" placeholder="...">  
                  </div>
                </div>
                <div class="col-sm-12 col-md-6">
                  <div class="form-group">
                    <label class="col-form-label fw-bold" for="ks_number">KS Number </label>
                    <div class="">
                      <input id="ks_number"  type="text" class="form-control" formControlName="ks_number" placeholder="..."> 
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-sm-12 col-md-6">
                  <div class="form-group">
                    <label for="affected_person_phone" class="col-form-label fw-bold">Mobile Number of Affected Person</label>
                    <input id="affected_person_phone"  type="text" class="form-control" formControlName="affected_person_phone" placeholder="...">  
                  </div>
                </div>
                <div class="col-sm-12 col-md-6">
                  <div class="form-group">
                    <label class="col-form-label fw-bold" for="person_affected">Person Affected by the Occurrence: </label>
                    <div class="">
                      <ng-select formControlName="person_affected" placeholder="-- select below --">
                        <ng-option value="" disabled >-- Select Below --</ng-option>
                        <ng-option value="Patient" >Patient</ng-option>
                        <ng-option value="Visitor">Visitor</ng-option>
                        <ng-option value="Staff">Staff</ng-option>
                      </ng-select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-sm-12 col-md-6">
                  <div class="form-group">
                    <label for="affected_person_phone" class="col-form-label fw-bold">Date and Time of Incident</label>
                    <div class="row">
                      <div class="col-sm-12 col-md-7">
                        <input id="date_of_incident"  type="date" class="form-control" formControlName="date_of_incident" placeholder="..."> 
                      </div>
                      <div class="col-sm-12 col-md-5">
                        <input id="time_of_incident"  type="time" class="form-control" formControlName="time_of_incident" placeholder="..."> 
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 col-md-6">
                  <div class="form-group">
                    <label class="col-form-label fw-bold" for="type_of_issue">Type of Issue </label>
                    <div class="">
                      <ng-select formControlName="type_of_issue" placeholder="-- select below --">
                        <ng-option value="" disabled >-- Select Below --</ng-option>
                        <ng-option value="Patient Complaint" >Patient Complaint</ng-option>
                        <ng-option value="Patient Appreciation">Patient Appreciation</ng-option>
                        <ng-option value="Incident">Incident</ng-option>
                        <ng-option value="Other">Other</ng-option>
                      </ng-select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-4 rounded-0 bg-light">
            <div class="card-body">
              <div class="col-sm-12 mb-3">
                <div class="form-group">
                  <label for="subject" class="col-form-label fw-bold">Subject</label>
                  <input id="subject"  type="text" class="form-control rounded-0" formControlName="subject" placeholder="...">  
                </div>
              </div>
              <div class="col-sm-12 mb-3">
                <div class="form-group">
                  <label class="col-form-label fw-bold" for="message">
                    Message <br>
                    <small class="text-danger">
                      The Factual Information should answer the following questions: What? When? Where? How? Why? Who?
                    </small>
                  </label>
                  <div>
                    <textarea formControlName="message" id="message" rows="6" placeholder="Type here..." class="form-control rounded-0" style="white-space: pre-wrap;"></textarea>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 mb-4">
                <div class="form-group">
                  <label class="col-form-label fw-bold m-0" for="job_description">
                    Upload Attachment(s) <br>
                    <small class="text-danger">If multiple, make a zip file</small>
                  </label>
                  <p class="mt-0 mb-1">
                    <small *ngIf="record?.attachment" class="my-0">
                      Current file: 
                      <a href="{{serverurl}}{{record?.attachment}}" target="_blank" rel="noopener noreferrer" class="text-decoration-none">
                      View file
                      </a>
                    </small>
                  </p>
                  <input id="job_description"  type="file" class="form-control rounded-0" (change)="handleFileupload($event)">
                </div>
              </div>
            </div>
          </div>
        </form>
          

        <!-- save button -->
        <div class="text-center mt-1 mb-2" *ngIf="!is_editing">
          <button class="btn btn-outline-success col-sm-12 col-md-4 rounded-0" (click)="create_request()">Submit</button>
        </div>
        <!-- edit button -->
        <div class="text-center mt-5 mb-2" *ngIf="is_editing">
          <button class="btn btn-outline-success col-sm-12 col-md-4 rounded-0" (click)="saveEditChanges()">Save Changes</button>
        </div>
      </div>
    </div>
  </div>
</div>



