

<div bsModal #detailsModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content rounded-0">
      <div class="modal-header bg-light m-0 p-2">
        <h6 class="modal-title fw-bold">Incident Details</h6>
        <button type="button" class="close btn text-dark m-0 p-0" (click)="detailsModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="table-responsive" id="print1">
          <div class="letter-head text-center">
            <p class="my-0">
              <img src="assets/img/brand/AKH_Logo.png">
            </p>
            <h5 class="mt-1 mb-1">The Aga Khan Hospital, Mombasa & Clusters</h5>
            <h6 class="mb-3 mt-0 fw-bold">Incident Details</h6>
          </div>

          <!-- display table -->
          <table class="table table-striped table-bordered table-hover row-border  pt-3 mb-3" >
            <tbody>
              <tr>
                <th class="text-nowrap">Date Requested</th>
                <td>{{ records?.date_created | date:'MMM d, y, h:mm:ss a' }}</td> 
              </tr>
              <tr>
                <th>Requisition ID</th>
                <td><small>{{ records?.uid }}</small> </td> 
              </tr>
              <tr>
                <th>Submitted By</th>
                <td>
                  <ng-container *ngIf="records?.created_by?.first_name">
                    - {{ records?.created_by?.first_name }} {{ records?.created_by?.last_name }}
                  </ng-container>
                  <ng-container *ngIf="!records?.created_by?.first_name">
                    - {{ records?.name }} 
                  </ng-container>
                  <ng-container *ngIf="records?.email">
                    <br>
                    - {{ records?.email }}
                  </ng-container>
                </td> 
              </tr>
              <tr>
                <th>Type of incident</th>
                <td>{{ records?.type_of_incident }}</td> 
              </tr>
              <tr>
                <th>Type of issue</th>
                <td>{{ records?.type_of_issue }}</td> 
              </tr>
              <tr>
                <th>Priority</th>
                <td>{{ records?.priority }}</td> 
              </tr>
              <tr >
                <th width="30%">Facility</th>
                <td>
                  {{ records?.facility?.name | titlecase}}
                </td> 
              </tr>
              <tr >
                <th width="30%">Department</th>
                <td>
                  {{ records?.department?.name | titlecase}}
                </td> 
              </tr>
              <tr >
                <th>Name of affected person</th>
                <td>
                  {{ records?.affected_person_name | titlecase }}
                </td> 
              </tr>
              <tr>
                <th>Phone number of affected person</th>
                <td>
                  <span *ngIf="records?.affected_person_phone">
                    {{records?.affected_person_phone}}
                  </span>
                  <span *ngIf="!records?.affected_person_phone">
                    N/A
                  </span>
                </td> 
              </tr>
              <tr>
                <th>KS Number</th>
                <td>
                  <span *ngIf="records?.ks_number">
                    {{records?.ks_number}}
                  </span>
                  <span *ngIf="!records?.ks_number">
                    N/A
                  </span>
                </td> 
              </tr>
              <tr>
                <th>Person affected</th>
                <td>{{ records?.person_affected }}</td> 
              </tr>
              <tr>
                <th>Date of Incident</th>
                <td>
                  {{ records?.date_of_incident |date}} - 
                  {{ records?.time_of_incident}}
                </td> 
              </tr>
              <tr>
                <th>Subject</th>
                <td>{{ records?.subject }}</td> 
              </tr>
              <tr>
                <th>Message</th>
                <td>
                  <pre style="white-space:pre-wrap; font-size: 0.95rem; font-family: sans-serif;">{{ records?.message }}</pre>
                </td> 
              </tr>
              <tr>
                <th>Status</th>
                <td>
                  <span *ngIf="records?.status == 'SUBMITTED'" class="badge bg-primary">SUBMITTED</span>
                  <span *ngIf="records?.status == 'ASSIGNED'" class="badge bg-info">ASSIGNED</span>
                  <span *ngIf="records?.status == 'CLOSED'" class="badge bg-success">CLOSED</span>
                </td> 
              </tr>
              <tr>
                <th class="text-nowrap">Attachments </th>
                <td>
                  <ng-container *ngIf="records?.attachment">
                    <a href="{{serverurl}}{{records?.attachment}}" target="_blank" rel="noopener noreferrer" class="text-decoration-none">
                      View attachment
                    </a>
                  </ng-container>
                  <ng-container *ngIf="!records?.attachment">
                    N/A
                  </ng-container>
                </td> 
              </tr>
              <tr>
                <th class="text-nowrap">Assigned To</th>
                <td>
                  {{records?.assigned_to?.first_name}} {{records?.assigned_to?.last_name}}
                </td> 
              </tr>
              <tr>
                <th class="text-nowrap">Progress</th>
                <td>
                    <p *ngFor="let item of records?.approvals" class="m-0 p-0">
                      <span class="badge bg-info">{{item?.status}}</span> by {{item?.action_by?.first_name}} {{item?.action_by?.last_name}} on {{item?.date_created | date}}
                    </p>
                </td> 
              </tr>
            </tbody>
          </table>

          <div class="card">
            <div class="card-header fw-bold">
              Notes / Comments
            </div>
            <div class="card-body">
              <table class="table table-bordered" width="100%">
                <tr>
                  <th width="60%" class="py-2">Note</th>
                  <th>By</th>
                  <th>Date</th>
                </tr>
                <tr *ngFor="let note of notes">
                  <td class="align-middle py-1">
                    {{note?.note}}
                  </td>
                  <td class="align-middle py-1">
                    {{note?.owner?.first_name}} {{note?.owner?.last_name}}
                  </td>
                  <td class="align-middle py-1">{{note?.date_created |date}}</td>
                </tr>
                <tr *ngIf="notes?.length == 0">
                  <th colspan="10">No Notes Found</th>
                </tr>
              </table>
            </div>
          </div>

        </div>
      </div>
      
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->




<div class="animated fadeIn mb-4">
  <div class="card rounded-0">
    <div class="card-header bg-light">
     <strong>RCA Template</strong>
     <!-- print -->
     <button   styleSheetFile="assets/css/custom_table.css" printSectionId="print1" printTitle="Incident_Form_{{records?.uid}}" class="hide btn float-end m-0 p-0 text-white" ngxPrint><i class="fa fa-print" aria-hidden="true"></i> Print</button>
    </div>
    <div class="card-body">
      <div class="row">
        <!-- 1st Column -->
        <div class="table-responsive col-sm-12 col-md-9" id="print1">
          <div class="table-responsive" style="overflow-x: hidden !important;">
            <form [formGroup]="rcaForm" >
              <div formGroupName="generalInformation" class="mb-4">
                <div formGroupName="whatHappened" class="card mb-3">
                  <!-- <div class="card-header">
                    What happened?
                  </div> -->
                  <div class="card-body">
                    <div class="form-group mb-3">
                      <label for="details" class="col-form-label fw-bold">
                        What happened?
                      </label>
                      <textarea formControlName="details" id="" rows="6" class="form-control"></textarea>
                    </div>
                    <div class="form-group mb-3">
                      <label for="findings" class="col-form-label fw-bold">
                        Findings
                      </label>
                      <textarea formControlName="findings" id="" rows="6" class="form-control"></textarea>
                    </div>
                    <div class="form-group mb-3">
                      <label for="cause" class="col-form-label fw-bold">
                        Root Cause
                      </label>
                      <textarea formControlName="cause" id="" rows="6" class="form-control"></textarea>
                    </div>
                    <div class="form-group mb-3">
                      <label for="action" class="col-form-label fw-bold">
                        Action
                      </label>
                      <textarea formControlName="action" id="" rows="6" class="form-control"></textarea>
                    </div>
                  </div>
                </div>
                <div formGroupName="detailsOfWhatHappened" class="card mb-3">
                  <!-- <div class="card-header">
                    What happened?
                  </div> -->
                  <div class="card-body">
                    <div class="form-group mb-3">
                      <label for="details" class="col-form-label fw-bold">
                        What are the details of the event?
                      </label>
                      <textarea formControlName="details" id="" rows="6" class="form-control"></textarea>
                    </div>
                    <div class="form-group mb-3">
                      <label for="findings" class="col-form-label fw-bold">
                        Findings
                      </label>
                      <textarea formControlName="findings" id="" rows="6" class="form-control"></textarea>
                    </div>
                    <div class="form-group mb-3">
                      <label for="cause" class="col-form-label fw-bold">
                        Root Cause
                      </label>
                      <textarea formControlName="cause" id="" rows="6" class="form-control"></textarea>
                    </div>
                    <div class="form-group mb-3">
                      <label for="action" class="col-form-label fw-bold">
                        Action
                      </label>
                      <textarea formControlName="action" id="" rows="6" class="form-control"></textarea>
                    </div>
                  </div>
                </div>
                <div formGroupName="whenItHappened" class="card mb-3">
                  <!-- <div class="card-header">
                    What happened?
                  </div> -->
                  <div class="card-body">
                    <div class="form-group mb-3">
                      <label for="details" class="col-form-label fw-bold">
                        When did the event occur?
                      </label>
                      <textarea formControlName="details" id="" rows="6" class="form-control"></textarea>
                    </div>
                    <div class="form-group mb-3">
                      <label for="findings" class="col-form-label fw-bold">
                        Findings
                      </label>
                      <textarea formControlName="findings" id="" rows="6" class="form-control"></textarea>
                    </div>
                    <div class="form-group mb-3">
                      <label for="cause" class="col-form-label fw-bold">
                        Root Cause
                      </label>
                      <textarea formControlName="cause" id="" rows="6" class="form-control"></textarea>
                    </div>
                    <div class="form-group mb-3">
                      <label for="action" class="col-form-label fw-bold">
                        Action
                      </label>
                      <textarea formControlName="action" id="" rows="6" class="form-control"></textarea>
                    </div>
                  </div>
                </div>
                <div formGroupName="whenIsImpacted" class="card mb-3">
                  <!-- <div class="card-header">
                    What happened?
                  </div> -->
                  <div class="card-body">
                    <div class="form-group mb-3">
                      <label for="details" class="col-form-label fw-bold">
                        What area/service was impacted? 
                      </label>
                      <textarea formControlName="details" id="" rows="6" class="form-control"></textarea>
                    </div>
                    <div class="form-group mb-3">
                      <label for="findings" class="col-form-label fw-bold">
                        Findings
                      </label>
                      <textarea formControlName="findings" id="" rows="6" class="form-control"></textarea>
                    </div>
                    <div class="form-group mb-3">
                      <label for="cause" class="col-form-label fw-bold">
                        Root Cause
                      </label>
                      <textarea formControlName="cause" id="" rows="6" class="form-control"></textarea>
                    </div>
                    <div class="form-group mb-3">
                      <label for="action" class="col-form-label fw-bold">
                        Action
                      </label>
                      <textarea formControlName="action" id="" rows="6" class="form-control"></textarea>
                    </div>
                  </div>
                </div>

                <div formGroupName="whyItHappened" class="card mb-3">
                  <!-- <div class="card-header">
                    What happened?
                  </div> -->
                  <div class="card-body">
                    <div class="form-group mb-3">
                      <label for="details" class="col-form-label fw-bold">
                        Why did it happen? 
                      </label>
                      <textarea formControlName="details" id="" rows="6" class="form-control"></textarea>
                    </div>
                    <div class="form-group mb-3">
                      <label for="steps" class="col-form-label fw-bold">
                        What are the steps in the process, as designed? 
                      </label>
                      <textarea formControlName="steps" id="" rows="6" class="form-control"></textarea>
                    </div>
                    <div class="form-group mb-3">
                      <label for="findings" class="col-form-label fw-bold">
                        Findings
                      </label>
                      <textarea formControlName="findings" id="" rows="6" class="form-control"></textarea>
                    </div>
                    <div class="form-group mb-3">
                      <label for="cause" class="col-form-label fw-bold">
                        Root Cause
                      </label>
                      <textarea formControlName="cause" id="" rows="6" class="form-control"></textarea>
                    </div>
                    <div class="form-group mb-3">
                      <label for="action" class="col-form-label fw-bold">
                        Action
                      </label>
                      <textarea formControlName="action" id="" rows="6" class="form-control"></textarea>
                    </div>
                  </div>
                </div>

                <div formGroupName="proximateFactors" class="card mb-3">
                  <!-- <div class="card-header">
                    What happened?
                  </div> -->
                  <div class="card-body">
                    <div class="form-group mb-3">
                      <label for="details" class="col-form-label fw-bold">
                        What were the most proximate factors? 
                      </label>
                      <textarea formControlName="details" id="" rows="6" class="form-control"></textarea>
                    </div>
                    <div class="form-group mb-3">
                      <label for="steps" class="col-form-label fw-bold">
                        What steps were involved in (contributed to) the event? 
                      </label>
                      <textarea formControlName="steps" id="" rows="6" class="form-control"></textarea>
                    </div>
                    <div class="form-group mb-3">
                      <label for="findings" class="col-form-label fw-bold">
                        Findings
                      </label>
                      <textarea formControlName="findings" id="" rows="6" class="form-control"></textarea>
                    </div>
                    <div class="form-group mb-3">
                      <label for="cause" class="col-form-label fw-bold">
                        Root Cause
                      </label>
                      <textarea formControlName="cause" id="" rows="6" class="form-control"></textarea>
                    </div>
                    <div class="form-group mb-3">
                      <label for="action" class="col-form-label fw-bold">
                        Action
                      </label>
                      <textarea formControlName="action" id="" rows="6" class="form-control"></textarea>
                    </div>
                  </div>
                </div>

                <div formGroupName="humanFactors" class="card mb-3">
                  <div class="card-header fw-bold">
                    Human Factors
                  </div>
                  <div class="card-body">
                    <div class="form-group mb-3">
                      <label for="details" class="col-form-label fw-bold">
                        What human factors were relevant to the outcome? 
                      </label>
                      <textarea formControlName="details" id="" rows="6" class="form-control"></textarea>
                    </div>
                    <div class="form-group mb-3">
                      <label for="findings" class="col-form-label fw-bold">
                        Findings
                      </label>
                      <textarea formControlName="findings" id="" rows="6" class="form-control"></textarea>
                    </div>
                    <div class="form-group mb-3">
                      <label for="cause" class="col-form-label fw-bold">
                        Root Cause
                      </label>
                      <textarea formControlName="cause" id="" rows="6" class="form-control"></textarea>
                    </div>
                    <div class="form-group mb-3">
                      <label for="action" class="col-form-label fw-bold">
                        Action
                      </label>
                      <textarea formControlName="action" id="" rows="6" class="form-control"></textarea>
                    </div>
                  </div>
                </div>
                <div formGroupName="equipmentFactors" class="card mb-3">
                  <div class="card-header fw-bold">
                    Equipment Factors
                  </div>
                  <div class="card-body">
                    <div class="form-group mb-3">
                      <label for="details" class="col-form-label fw-bold">
                        How did the equipment performance affect the outcome?
                      </label>
                      <textarea formControlName="details" id="" rows="6" class="form-control"></textarea>
                    </div>
                    <div class="form-group mb-3">
                      <label for="findings" class="col-form-label fw-bold">
                        Findings
                      </label>
                      <textarea formControlName="findings" id="" rows="6" class="form-control"></textarea>
                    </div>
                    <div class="form-group mb-3">
                      <label for="cause" class="col-form-label fw-bold">
                        Root Cause
                      </label>
                      <textarea formControlName="cause" id="" rows="6" class="form-control"></textarea>
                    </div>
                    <div class="form-group mb-3">
                      <label for="action" class="col-form-label fw-bold">
                        Action
                      </label>
                      <textarea formControlName="action" id="" rows="6" class="form-control"></textarea>
                    </div>
                  </div>
                </div>
                <div formGroupName="controllableEnvironmentFactors" class="card mb-3">
                  <div class="card-header fw-bold">
                    Controllable Environmental Factors
                  </div>
                  <div class="card-body">
                    <div class="form-group mb-3">
                      <label for="details" class="col-form-label fw-bold">
                        What factors directly affected the outcome?
                      </label>
                      <textarea formControlName="details" id="" rows="6" class="form-control"></textarea>
                    </div>
                    <div class="form-group mb-3">
                      <label for="findings" class="col-form-label fw-bold">
                        Findings
                      </label>
                      <textarea formControlName="findings" id="" rows="6" class="form-control"></textarea>
                    </div>
                    <div class="form-group mb-3">
                      <label for="cause" class="col-form-label fw-bold">
                        Root Cause
                      </label>
                      <textarea formControlName="cause" id="" rows="6" class="form-control"></textarea>
                    </div>
                    <div class="form-group mb-3">
                      <label for="action" class="col-form-label fw-bold">
                        Action
                      </label>
                      <textarea formControlName="action" id="" rows="6" class="form-control"></textarea>
                    </div>
                  </div>
                </div>
                <div formGroupName="uncontrollableEnvironmentFactors" class="card mb-3">
                  <div class="card-header fw-bold">
                    Uncontrollable Environmental Factors
                  </div>
                  <div class="card-body">
                    <div class="form-group mb-3">
                      <label for="details" class="col-form-label fw-bold">
                        What uncontrollable external factors influenced the outcome?<br>Are they truly beyond the organization's control?
                      </label>
                      <textarea formControlName="details" id="" rows="6" class="form-control"></textarea>
                    </div>
                    <div class="form-group mb-3">
                      <label for="findings" class="col-form-label fw-bold">
                        Findings
                      </label>
                      <textarea formControlName="findings" id="" rows="6" class="form-control"></textarea>
                    </div>
                    <div class="form-group mb-3">
                      <label for="cause" class="col-form-label fw-bold">
                        Root Cause
                      </label>
                      <textarea formControlName="cause" id="" rows="6" class="form-control"></textarea>
                    </div>
                    <div class="form-group mb-3">
                      <label for="action" class="col-form-label fw-bold">
                        Action
                      </label>
                      <textarea formControlName="action" id="" rows="6" class="form-control"></textarea>
                    </div>
                  </div>
                </div>
                <div formGroupName="otherFactors" class="card mb-3">
                  <div class="card-header fw-bold">
                    Other Factors
                  </div>
                  <div class="card-body">
                    <div class="form-group mb-3">
                      <label for="details" class="col-form-label fw-bold">
                        Are there any other factors that have directly affected this outcome?
                      </label>
                      <textarea formControlName="details" id="" rows="6" class="form-control"></textarea>
                    </div>
                    <div class="form-group mb-3">
                      <label for="findings" class="col-form-label fw-bold">
                        Findings
                      </label>
                      <textarea formControlName="findings" id="" rows="6" class="form-control"></textarea>
                    </div>
                    <div class="form-group mb-3">
                      <label for="cause" class="col-form-label fw-bold">
                        Root Cause
                      </label>
                      <textarea formControlName="cause" id="" rows="6" class="form-control"></textarea>
                    </div>
                    <div class="form-group mb-3">
                      <label for="action" class="col-form-label fw-bold">
                        Action
                      </label>
                      <textarea formControlName="action" id="" rows="6" class="form-control"></textarea>
                    </div>
                  </div>
                </div>
                <div formGroupName="otherAreasImpacted" class="card mb-3">
                  <div class="card-header fw-bold">
                    Other Areas Impacted
                  </div>
                  <div class="card-body">
                    <div class="form-group mb-3">
                      <label for="details" class="col-form-label fw-bold">
                        What other areas or services are impacted?
                      </label>
                      <textarea formControlName="details" id="" rows="6" class="form-control"></textarea>
                    </div>
                    <div class="form-group mb-3">
                      <label for="findings" class="col-form-label fw-bold">
                        Findings
                      </label>
                      <textarea formControlName="findings" id="" rows="6" class="form-control"></textarea>
                    </div>
                    <div class="form-group mb-3">
                      <label for="cause" class="col-form-label fw-bold">
                        Root Cause
                      </label>
                      <textarea formControlName="cause" id="" rows="6" class="form-control"></textarea>
                    </div>
                    <div class="form-group mb-3">
                      <label for="action" class="col-form-label fw-bold">
                        Action
                      </label>
                      <textarea formControlName="action" id="" rows="6" class="form-control"></textarea>
                    </div>
                  </div>
                </div>

                <div formGroupName="humanResourceIssues" class="card mb-3">
                  <div class="card-header fw-bold">
                    Human Resource Issues
                  </div>
                  <div class="card-body">
                    <div class="form-group mb-3">
                      <label for="degreeOfQualification" class="col-form-label fw-bold">
                        To what degree are staff properly qualified and currently competent for their responsibilities?
                      </label>
                      <textarea formControlName="staffQualificationsCompetence" id="" rows="6" class="form-control"></textarea>
                    </div>
                    <div class="form-group mb-3">
                      <label for="staffing" class="col-form-label fw-bold">
                        How did actual staffing compare with ideal levels?
                      </label>
                      <textarea formControlName="actualVsIdealStaffing" id="" rows="6" class="form-control"></textarea>
                    </div>
                    <div class="form-group mb-3">
                      <label for="contingencyStaffingPlans" class="col-form-label fw-bold">
                        What are the plans for dealing with contingencies that would tend to reduce effective staffing level?
                      </label>
                      <textarea formControlName="contingencyStaffingPlans" id="contingencyStaffingPlans" rows="6" class="form-control"></textarea>
                    </div>
                    <div class="form-group mb-3">
                      <label for="staffPerformanceOperantProcesses" class="col-form-label fw-bold">
                        To what degree is staff performance in the operant processes addressed? 
                      </label>
                      <textarea formControlName="staffPerformanceOperantProcesses" id="" rows="6" class="form-control"></textarea>
                    </div>
                    <div class="form-group mb-3">
                      <label for="orientationInServiceTrainingImprovement" class="col-form-label fw-bold">
                        How can orientation and in-service training be improved?
                      </label>
                      <textarea formControlName="orientationInServiceTrainingImprovement" id="" rows="6" class="form-control"></textarea>
                    </div>
                  </div>
                </div>

                <div formGroupName="informationManagement" class="card mb-3">
                  <div class="card-header fw-bold">
                    Information Management
                  </div>
                  <div class="card-body">
                    <div class="form-group mb-3">
                      <label for="informationAvailability" class="col-form-label fw-bold">
                        To what degree is all necessary information available when needed? Accurate? Complete? Unambiguous?
                      </label>
                      <textarea formControlName="informationAvailability" id="informationAvailability" rows="6" class="form-control"></textarea>
                    </div>
                    <div class="form-group mb-3">
                      <label for="communicationAdequacy" class="col-form-label fw-bold">
                        To what degree is communication among participants adequate?
                      </label>
                      <textarea formControlName="communicationAdequacy" id="communicationAdequacy" rows="6" class="form-control"></textarea>
                    </div>
                  </div>
                </div>
                <div formGroupName="environmentalManagementIssues" class="card mb-3">
                  <div class="card-header fw-bold">
                    Environmental Management Issues
                  </div>
                  <div class="card-body">
                    <div class="form-group mb-3">
                      <label for="physicalEnvironmentAppropriateness" class="col-form-label fw-bold">
                        To what degree was the physical environment appropriate for the processes being carried out?
                      </label>
                      <textarea formControlName="physicalEnvironmentAppropriateness" id="physicalEnvironmentAppropriateness" rows="6" class="form-control"></textarea>
                    </div>
                    <div class="form-group mb-3">
                      <label for="environmentalRiskIdentificationSystems" class="col-form-label fw-bold">
                        What systems are in place to identify environmental risks?
                      </label>
                      <textarea formControlName="environmentalRiskIdentificationSystems" id="environmentalRiskIdentificationSystems" rows="6" class="form-control"></textarea>
                    </div>
                    <div class="form-group mb-3">
                      <label for="emergencyFailureModeResponses" class="col-form-label fw-bold">
                        What emergency and failure mode responses have been planned and tested?
                      </label>
                      <textarea formControlName="emergencyFailureModeResponses" id="emergencyFailureModeResponses" rows="6" class="form-control"></textarea>
                    </div>
                  </div>
                </div>

                <div formGroupName="leadershipIssues" class="card mb-3">
                  <div class="card-header fw-bold">
                    Leadership issues: Corporate culture
                  </div>
                  <div class="card-body">
                    <div class="form-group mb-3">
                      <label for="details" class="col-form-label fw-bold">
                        To what degree is the culture conducive to risk identification and reduction?
                      </label>
                      <textarea formControlName="details" id="" rows="6" class="form-control"></textarea>
                    </div>
                    <div class="form-group mb-3">
                      <label for="findings" class="col-form-label fw-bold">
                        Findings
                      </label>
                      <textarea formControlName="findings" id="" rows="6" class="form-control"></textarea>
                    </div>
                    <div class="form-group mb-3">
                      <label for="cause" class="col-form-label fw-bold">
                        Root Cause
                      </label>
                      <textarea formControlName="cause" id="" rows="6" class="form-control"></textarea>
                    </div>
                    <div class="form-group mb-3">
                      <label for="action" class="col-form-label fw-bold">
                        Action
                      </label>
                      <textarea formControlName="action" id="" rows="6" class="form-control"></textarea>
                    </div>
                  </div>
                </div>

                <div formGroupName="encouragementOfCommunication" class="card mb-3">
                  <div class="card-header fw-bold">
                    Encouragement of communication
                  </div>
                  <div class="card-body">
                    <div class="form-group mb-3">
                      <label for="details" class="col-form-label fw-bold">
                        What are the barriers to communication of potential risk factors?
                      </label>
                      <textarea formControlName="details" id="" rows="6" class="form-control"></textarea>
                    </div>
                    <div class="form-group mb-3">
                      <label for="findings" class="col-form-label fw-bold">
                        Findings
                      </label>
                      <textarea formControlName="findings" id="" rows="6" class="form-control"></textarea>
                    </div>
                    <div class="form-group mb-3">
                      <label for="cause" class="col-form-label fw-bold">
                        Root Cause
                      </label>
                      <textarea formControlName="cause" id="" rows="6" class="form-control"></textarea>
                    </div>
                    <div class="form-group mb-3">
                      <label for="action" class="col-form-label fw-bold">
                        Action
                      </label>
                      <textarea formControlName="action" id="" rows="6" class="form-control"></textarea>
                    </div>
                  </div>
                </div>

                <div formGroupName="clearCommunicationOfPriorities" class="card mb-3">
                  <div class="card-header fw-bold">
                    Clear communication of priorities
                  </div>
                  <div class="card-body">
                    <div class="form-group mb-3">
                      <label for="details" class="col-form-label fw-bold">
                        To what degree is the prevention of adverse outcomes communicated as a high priority? How?
                      </label>
                      <textarea formControlName="details" id="" rows="6" class="form-control"></textarea>
                    </div>
                    <div class="form-group mb-3">
                      <label for="findings" class="col-form-label fw-bold">
                        Findings
                      </label>
                      <textarea formControlName="findings" id="" rows="6" class="form-control"></textarea>
                    </div>
                    <div class="form-group mb-3">
                      <label for="cause" class="col-form-label fw-bold">
                        Root Cause
                      </label>
                      <textarea formControlName="cause" id="" rows="6" class="form-control"></textarea>
                    </div>
                    <div class="form-group mb-3">
                      <label for="action" class="col-form-label fw-bold">
                        Action
                      </label>
                      <textarea formControlName="action" id="" rows="6" class="form-control"></textarea>
                    </div>
                  </div>
                </div>

                <div formGroupName="uncontrollableFactors" class="card mb-3">
                  <div class="card-header fw-bold">
                    Uncontrollable factors
                  </div>
                  <div class="card-body">
                    <div class="form-group mb-3">
                      <label for="details" class="col-form-label fw-bold">
                        What can be done to protect against the effects of these uncontrollable factors?
                      </label>
                      <textarea formControlName="details" id="" rows="6" class="form-control"></textarea>
                    </div>
                    <div class="form-group mb-3">
                      <label for="findings" class="col-form-label fw-bold">
                        Findings
                      </label>
                      <textarea formControlName="findings" id="" rows="6" class="form-control"></textarea>
                    </div>
                    <div class="form-group mb-3">
                      <label for="cause" class="col-form-label fw-bold">
                        Root Cause
                      </label>
                      <textarea formControlName="cause" id="" rows="6" class="form-control"></textarea>
                    </div>
                    <div class="form-group mb-3">
                      <label for="action" class="col-form-label fw-bold">
                        Action
                      </label>
                      <textarea formControlName="action" id="" rows="6" class="form-control"></textarea>
                    </div>
                  </div>
                </div>

              </div>

            </form>
              
    
            <!-- save button -->
            <div class="text-center mt-1 mb-2" *ngIf="!rca?.id">
              <button class="btn btn-outline-dark rounded-5 col-sm-12 col-md-4" (click)="create_request()">Submit</button>
            </div>
            <!-- edit button -->
            <div class="text-center mt-5 mb-2" *ngIf="rca?.id">
              <button class="btn btn-outline-dark rounded-5 col-sm-12 col-md-4" (click)="saveEditChanges()">Save Changes</button>
            </div>
          </div>
        </div>
        
        <!-- 2nd Column -->
        <div class="col-sm-12 col-md-3 bg-light" >
          <div class="card mt-2" >
            <div class="card-header fw-bold">
              <i class="fa fa-wrench"></i> Actions
            </div>

            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <button class="btn btn-outline-dark btn-sm col-sm-12 rounded-5" (click)="detailsModal.show()">View Incident</button>
              </li>
              <!-- <li class="list-group-item" *ngxPermissionsExcept="['FMS_ADMIN','SUPERUSER']">
                <button class="btn btn-outline-dark btn-sm col-sm-12 rounded-5" (click)="set_add_note(records?.id)" [disabled]="records?.status != 'ASSIGNED' || !records?.is_assigned">Add Note</button>
              </li> -->
              <li class="list-group-item">
                <button class="btn btn-outline-dark btn-sm col-sm-12 rounded-5" (click)="set_close_request_status(records?.id)" >Exit</button>
              </li>
            </ul>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>



