

<div bsModal #approveRequestModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-success" role="document">
    <div class="modal-content">
      <div class="modal-header text-white site-btn-success m-0 p-2">
        <h6 class="modal-title" *ngxPermissionsOnly="['CASH_OFFICE']"><i class="fa fa-check"></i> Disburse Request</h6>
        <h6 class="modal-title" *ngxPermissionsOnly="['TRANSPORT']"><i class="fa fa-check"></i> Assign Vehicle</h6>
        <button type="button" class="close btn text-white site-btn-success m-0 p-0" (click)="approveRequestModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <div class="modal-body" >
        <!-- handle cash office -->
        <section *ngxPermissionsOnly="['CASH_OFFICE']">
          <div class="card">
            <div class="card-body">
              <div class="form-group mb-3">
                <label for="disbursement_type" class="control-label fw-bold mb-2 mt-1">
                  Select Disbursement
                </label>
                <div class="disbursement_type">
                  <ng-select [(ngModel)]="disbursement_type" placeholder="">
                    <ng-option value="Travel Cost">Travel Cost</ng-option>
                    <ng-option value="Travel Advance" [disabled]="!records?.salary_advance_required || records?.salary_advance?.status != 'APPROVED'">Travel Advance</ng-option>
                  </ng-select>   
                </div>
              </div> 
              <div class="form-group mb-3">
                <label for="amount" class="control-label fw-bold mb-2 mt-1">
                  Amount &nbsp;
                  <mark *ngIf="disbursement_type == 'Travel Cost'"> {{ records?.travel_cost | currency:'KES ' }}</mark>
                  <mark *ngIf="disbursement_type == 'Travel Advance'">{{records?.salary_advance?.amount |currency:'KES '}}</mark>
                </label>
                <div class="amount">
                  <input type="number" id="amount"class="form-control" [(ngModel)]="amount">    
                </div>
              </div> 
              <div class="form-group mb-3">
                <label for="budget_code" class="control-label fw-bold mb-2 mt-1">
                 Transaction Code
                </label>
                <div class="budget_code">
                  <input type="text" id="amount"class="form-control" [(ngModel)]="transaction_code">     
                </div>
              </div> 
              <div class="form-group mb-3">
                <label for="budget_code" class="control-label fw-bold mb-2 mt-1">
                  Remarks
                </label>
                <div class="budget_code">
                  <textarea rows="4" id="budget_code"class="form-control" [(ngModel)]="text" placeholder="Type here...">   </textarea>      
                </div>
              </div> 
            </div>
          </div>
            
        </section>
        <!-- handle transport -->
        <section *ngxPermissionsOnly="['TRANSPORT']">
          <div class="form-group mb-3">
            <label for="vehicle_number_plate" class="control-label fw-bold mb-2 mt-1">
              Vehicle Number Plate
            </label>
            <div class="vehicle_number_plate">
              <input type="text" id="vehicle_number_plate"class="form-control" [(ngModel)]="vehicle_number_plate">    
            </div>
          </div> 
          <div class="form-group mb-3">
            <label for="date_of_travel" class="control-label fw-bold mb-2 mt-1">
             Scheduled Date of Travel
            </label>
            <div class="date_of_travel">
              <input type="date" id="amount"class="form-control" [(ngModel)]="date_of_travel">     
            </div>
          </div>  
        </section>

      </div>
      
      <div class="modal-footer" *ngxPermissionsOnly="['CASH_OFFICE']">
        <!-- <button   class="btn btn-warning col-md-4 text-white" (click)="resetForm()">Reset</button> -->
        <button  type="submit"  (click)="send_cash_office()" class="btn site-btn-success col-md-4 text-white">Disburse</button>
      </div>

      <div class="modal-footer" *ngxPermissionsOnly="['TRANSPORT']">
        <!-- <button   class="btn btn-warning col-md-4 text-white" (click)="resetForm()">Reset</button> -->
        <button  type="submit"  (click)="send_transport_office()" class="btn site-btn-success col-md-4 text-white">Assign</button>
      </div>


    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->




<div class="animated fadeIn mb-4">
  <div class="card">
    <div class="card-header site-btn-success-dark">
     <strong>Locum Attendance</strong>
     <!-- print -->
     <button   styleSheetFile="assets/css/locum_attendance.css" printSectionId="print1" printTitle="Locum_Attendance_Summary_{{records?.uid}}" class="hide btn float-end m-0 p-0 text-white" ngxPrint><i class="fa fa-print" aria-hidden="true"></i> Print</button>
    </div>
    <div class="card-body">
      <!-- <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-2" *ngxPermissionsExcept="['VIEWER']">
          <button type="button" class="btn btn-block site-btn-purple text-white" (click)="createModal.show()"><i
              class="fa fa-plus"></i> Add New</button>
        </div>
      </div>
        <br /> -->
      <div class="row-old">
        <!-- 1st Column -->
        <div class="table-responsive col-sm-12 " id="print1">
          <div class="letter-head text-center">
            <p class="my-0">
              <img src="assets/img/brand/AKH_Logo.png">
            </p>
            <h5 class="mt-1 mb-1">The Aga Khan Hospital, Kisumu & Clusters</h5>
            <h6 class="mb-3 mt-0">Locum Attendance Summary</h6>
            <h6 class="mb-3 mt-0 fw-bold">From: {{ records?.period_from | date }} To: {{ records?.period_to | date }}</h6>
          </div>

          <!-- display table -->
          <table class="wikitable cmt-5 mb-3" width="100%">
            <tbody>
              <tr>
                <th>Position Title</th>
                <td>{{ records?.position_title }}</td> 
              </tr>
              <tr>
                <th>Position Type</th>
                <td>{{ records?.position_type }}</td> 
              </tr>
              <tr >
                <th width="30%">Department</th>
                <td>{{ records?.department?.name }}</td> 
              </tr>
              <tr >
                <th width="30%">Work Station</th>
                <td>
                  {{ records?.reporting_station |titlecase}} <span *ngIf="records?.working_station"> - {{ records?.working_station |titlecase}}</span>
                </td> 
              </tr>
              <!-- <tr>
                <th>Nature of Hiring</th>
                <td>{{ records?.nature_of_hiring }}</td> 
              </tr> -->
              <!-- <tr *ngxPermissionsOnly="['HOF','FINANCE','HR','HHR']">
                <th>Budget Approval</th>
                <td>
                  <ng-container *ngIf="!records?.budget_approval_file">
                    N/A
                  </ng-container>
                  <ng-container *ngIf="records?.budget_approval_file">
                    <a href="{{serverurl}}{{records?.budget_approval_file}}" target="_blank" rel="noopener noreferrer" class="text-decoration-none">View Budget</a>
                  </ng-container>
                </td> 
              </tr> -->
              <!-- <tr>
                <th class="text-nowrap">
                  <ng-container *ngIf="records?.position_type == 'Permanent'">Job Description</ng-container>
                  <ng-container *ngIf="records?.position_type == 'Temporary'">Tasks</ng-container>
                </th>
                <td>
                  <a href="{{serverurl}}{{records?.job_description}}" target="_blank" rel="noopener noreferrer" class="text-decoration-none">
                    View 
                    <ng-container *ngIf="records?.position_type == 'Permanent'">Job Description</ng-container>
                    <ng-container *ngIf="records?.position_type == 'Temporary'">Tasks</ng-container>
                  </a>
                </td> 
              </tr> -->
              <tr>
                <th>Reasons why tasks in the Job Description cannot be shared</th>
                <td>
                  <ng-container *ngIf="records?.reasons_for_not_sharing_tasks">
                    <pre style="white-space:pre-wrap; font-size: 0.95rem; font-family: sans-serif;">{{ records?.reasons_for_not_sharing_tasks }}</pre></ng-container>
                  <ng-container *ngIf="!records?.reasons_for_not_sharing_tasks">N/A</ng-container>
                </td> 
              </tr>
              <tr>
                <th>Reporting Date</th>
                <td>{{ records?.reporting_date | date}}</td> 
              </tr>

            </tbody>
          </table>
          
          <!-- Attendance -->
          <div class="card">
            <div class="card-body">
              <section class="hide">
                <div class="d-flex bd-highlight">
                  <div class="p-2 flex-fill bd-highlight">
                    <div class="form-group">
                      <label class="fw-bold" for="department">Month:</label>
                      <select name="" id="status" class="form-control py-2" [(ngModel)]="month" (change)="fetchAttendance(employee_id, $event.target.value)">
                        <option value="" selected disabled> -- Select Month -- </option>
                        <option [value]="month?.id" *ngFor="let month of months">{{month?.name}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="p-2 flex-fill bd-highlight">
                    <div class="form-group">
                      <label class="fw-bold" for="status">Day:</label>
                      <select name="" id="status" class="form-control py-2" [(ngModel)]="day">
                        <option value="" selected disabled> -- Select Day -- </option>
                        <option [value]="day" *ngFor="let day of attendance?.days">{{day}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="p-2 flex-fill bd-highlight">
                    <div class="form-group">
                      <label class="fw-bold" for="position_type">Hours Worked:</label>
                      <input type="number" name="" id="overtime_hours" class="form-control" placeholder="Hours Worked" [(ngModel)]="hours">
                    </div>
                  </div>
                  <div class="p-2 flex-fill bd-highlight">
                    <div class="form-group">
                      <label class="fw-bold" for="position_type">Overtime Hours:</label>
                      <input type="number" name="" id="overtime_hours" class="form-control" placeholder="Overtime Hours" [(ngModel)]="overtime_hours">
                    </div>
                  </div>
                  
                  <div class="p-2 flex-fill bd-highlight">
                    <div class="form-group pt-4">
                      <button type="button" class="btn site-btn-success" (click)="post_attendance()">
                        Add
                      </button>
                    </div>
                  </div>
                </div>
              </section>
              

              <table class="wikitable" width="100%">
                <tr>
                  <th class="text-center">Year</th>
                  <th class="text-center">Month</th>
                  <th class="text-center">Day</th>
                  <th class="text-center">Hours Worked</th>
                  <th class="text-center">Overtime Hours</th>
                </tr>
                <tbody>
                  <ng-container *ngFor="let list of attendance?.attendance">
                    <tr *ngFor="let item of list?.data">
                      <td class="text-center">{{item?.year}}</td>
                      <td class="text-center">{{get_month_name(item?.month)}}</td>
                      <td class="text-center">{{item?.day}}</td>
                      <td class="text-center">{{item?.hours_worked}}</td>
                      <td class="text-center">{{item?.overtime_hours}}</td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>

            </div>
          </div>

        </div>

      </div>
      
    </div>
  </div>
</div>



<!-- APPROVE MODAL -->
<div bsModal #approveModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-success" role="document">
    <div class="modal-content">
      <div class="modal-header text-white bg-success m-0 p-2">
        <h6 class="modal-title"><i class="fa fa-check"></i> Approve Request</h6>
        <button type="button" class="close btn text-white btn-success m-0 p-0" (click)="approveModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- replacement details -->
        <div class="card mb-3"  *ngIf="records?.nature_of_hiring == 'Replacement'">
          <div class="card-body" *ngxPermissionsOnly="['HHR']">
            <h6 class="fw-bold mb-3"><i class="fa fa-address-book-o"></i> Replacement Details</h6>
            <form [formGroup]="ReplacementForm" >
              <div class="form-group mb-1 mt-0">
                <label for="name" class="control-label mb-2 fw-bold">
                  Name of Person Leaving
                </label>
                <div class="">
                  <input type="text" id="name" class="form-control" formControlName="name" placeholder="Type here ...">                              
                </div>
              </div> 
              <div class="form-group mb-1 mt-0">
                <label for="position_number" class="control-label my-2 fw-bold">
                  Position Number
                </label>
                <div class="">
                  <input type="text" id="position_number" class="form-control" formControlName="position_number" placeholder="Type here ...">                              
                </div>
              </div> 
              <div class="form-group mb-1 mt-0">
                <label for="date_of_leaving" class="control-label my-2 fw-bold">
                  Date of Leaving
                </label>
                <div class="">
                  <input type="date" id="date_of_leaving" class="form-control" formControlName="date_of_leaving" placeholder="Type here ...">                              
                </div>
              </div> 
            </form>
          </div>
        </div>
        
        <form [formGroup]="approveForm">
          <div class="form-group mb-1 mt-0">
            <label for="reason" class="control-label my-2 fw-bold">
              Comments / Remarks
            </label>
            <div class="">
              <textarea name="" rows="6" id="reason" class="form-control" formControlName="comments" placeholder="Type here ..."></textarea>                                
            </div>
          </div> 
        </form>
      </div>
      
      <div class="text-center mt-1 pt-0 mb-4">
        <!-- <button   class="btn btn-warning col-md-4 text-white" (click)="resetForm()">Reset</button> -->
        <button  type="submit"  (click)="approve_request()" class="btn btn-success col-sm-12 col-md-4 text-white">Approve</button>
      
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- REJECT MODAL -->
<div bsModal #rejectModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-success" role="document">
    <div class="modal-content">
      <div class="modal-header text-white bg-success m-0 p-2">
        <h6 class="modal-title">Update Request</h6>
        <button type="button" class="close btn text-white btn-success m-0 p-0" (click)="rejectModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="rejectForm" >
          <div class="form-group mb-1 mt-0">
            <label for="reason" class="control-label my-2 fw-bold">
              Reason for <span class="fw-bold">marking request as {{rejectForm?.value?.status |titlecase}}?</span>
            </label>
            <div class="">
              <textarea name="" rows="6" id="reason" class="form-control" formControlName="comments" placeholder="Type here ..."></textarea>                                
            </div>
          </div> 
        </form>
      </div>
      
      <div class="text-center mt-1 pt-0 mb-4">
        <!-- <button   class="btn btn-warning col-md-4 text-white" (click)="resetForm()">Reset</button> -->
        <button  type="submit"  (click)="update_request_status()" class="btn btn-success col-md-4 text-white">
          <span *ngIf="rejectForm?.value?.status == 'DECLINED'">Decline</span>
          <span *ngIf="rejectForm?.value?.status == 'CANCELED'">Cancel</span>
          <span *ngIf="rejectForm?.value?.status == 'ONHOLD'">Put on hold</span>
          <span *ngIf="rejectForm?.value?.status == 'REACTIVATED'">Reactivate</span>
        </button>
      
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- UPLOAD BUDGET APPROVAL MODAL -->
<div bsModal #budgetApprovalModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-success modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header text-white site-btn-success m-0 p-2">
        <h6 class="modal-title"><i class="fa fa-upload"></i> Upload Budget Approval</h6>
        <button type="button" class="close btn text-white site-btn-success m-0 p-0" (click)="budgetApprovalModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="BudgetApprovalForm" >
          <div class="card mb-3">
            <div class="card-body">
              <div class="form-group">
                <label for="budget_approval" class="control-label mb-2 fw-bold">
                  Upload Budget
                </label>
                <div class="mb-1">
                  <input id="budget_approval"  type="file" class="form-control" (change)="handleFileupload($event)">                                 
                </div>
              </div> 
            </div>
          </div>
        </form>
      </div>
      
      <div class="text-center mb-4 mt-0">
        <!-- <button   class="btn btn-warning col-md-4 text-white" (click)="resetForm()">Reset</button> -->
        <button  type="submit"  (click)="upload_budget_approval()" class="btn site-btn-success col-sn-12 col-md-4 text-white">Submit</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- HIRED MODAL -->
<div bsModal #hiredModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-success" role="document">
    <div class="modal-content">
      <div class="modal-header text-white bg-success m-0 p-2">
        <h6 class="modal-title">Staff Hired</h6>
        <button type="button" class="close btn text-white btn-success m-0 p-0" (click)="hiredModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="hiredForm" >
          <div class="form-group mb-1 mt-0">
            <label for="reporting_date" class="control-label my-2 fw-bold">
              Reporting Date
            </label>
            <div class=""> 
              <input type="date" id="reporting_date" class="form-control" formControlName="reporting_date">                            
            </div>
          </div> 
        </form>
      </div>
      
      <div class="text-center mt-1 pt-0 mb-4">
        <!-- <button   class="btn btn-warning col-md-4 text-white" (click)="resetForm()">Reset</button> -->
        <button  type="submit"  (click)="update_hired_status()" class="btn btn-success col-md-4 text-white">
          Confirm
        </button>
      
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->