<div class="animated fadeIn mb-4">
  <div class="card">
    <div class="card-header site-btn-success-dark">
     <strong>Locum Attendance</strong>
     <!-- print -->
     <button   styleSheetFile="assets/css/locum_attendance.css" printSectionId="print1" printTitle="Locum_Attendance_Summary_{{records?.uid}}" class="hide btn float-end m-0 p-0 text-white" ngxPrint><i class="fa fa-print" aria-hidden="true"></i> Print</button>
    </div>
    <div class="card-body">
      <!-- <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-2" *ngxPermissionsExcept="['VIEWER']">
          <button type="button" class="btn btn-block site-btn-purple text-white" (click)="createModal.show()"><i
              class="fa fa-plus"></i> Add New</button>
        </div>
      </div>
        <br /> -->
      <div class="row-old">
        <!-- 1st Column -->
        <div class="table-responsive col-sm-12 " id="print1">
          <div class="letter-head text-center">
            <p class="my-0">
              <img src="assets/img/brand/AKH_Logo.png">
            </p>
            <h5 class="mt-1 mb-1">The Aga Khan Hospital, Kisumu & Clusters</h5>
            <h6 class="mb-3 mt-0">Locum Attendance Summary</h6>
            <h6 class="mb-3 mt-0 fw-bold"><span class="text-danger fw-bold">From:</span>  {{ records?.period_from | date }} <span class="text-danger fw-bold">To:</span> {{ records?.period_to | date }}</h6>
          </div>

          <!-- display table -->
          <table class="wikitable cmt-5 mb-3" width="100%">
            <tbody>
              <tr>
                <th>Name</th>
                <td>{{ attendance?.employee?.name }}</td> 
              </tr>
              <tr>
                <th>Employee No</th>
                <td>{{ attendance?.employee?.employee_no }}</td> 
              </tr>
              <tr>
                <th>Position Title</th>
                <td>{{ records?.position_title }}</td> 
              </tr>
              <tr>
                <th>Position Type</th>
                <td>{{ records?.position_type }}</td> 
              </tr>
              <tr >
                <th width="30%">Department</th>
                <td>{{ records?.department?.name }}</td> 
              </tr>
              <tr >
                <th>Sub Department</th>
                <td>{{ records?.sub_department?.name }}</td> 
              </tr>
              <tr *ngIf="records?.ohc">
                <th>OHC</th>
                <td>{{ records?.ohc?.name }}</td> 
              </tr>
              <tr >
                <th>Work Station</th>
                <td>
                  {{ attendance?.employee?.reporting_station |titlecase}} <span *ngIf="attendance?.employee?.working_station"> - {{ attendance?.employee?.working_station |titlecase}}</span>
                </td> 
              </tr>
              <tr>
                <th>Reporting Date</th>
                <td>{{ attendance?.employee?.reporting_date | date}}</td> 
              </tr>
              <!-- <tr>
                <th>Nature of Hiring</th>
                <td>{{ records?.nature_of_hiring }}</td> 
              </tr> -->
              <!-- <tr *ngxPermissionsOnly="['HOF','FINANCE','HR','HHR']">
                <th>Budget Approval</th>
                <td>
                  <ng-container *ngIf="!records?.budget_approval_file">
                    N/A
                  </ng-container>
                  <ng-container *ngIf="records?.budget_approval_file">
                    <a href="{{serverurl}}{{records?.budget_approval_file}}" target="_blank" rel="noopener noreferrer" class="text-decoration-none">View Budget</a>
                  </ng-container>
                </td> 
              </tr> -->
              <!-- <tr>
                <th class="text-nowrap">
                  <ng-container *ngIf="records?.position_type == 'Permanent'">Job Description</ng-container>
                  <ng-container *ngIf="records?.position_type == 'Temporary'">Tasks</ng-container>
                </th>
                <td>
                  <a href="{{serverurl}}{{records?.job_description}}" target="_blank" rel="noopener noreferrer" class="text-decoration-none">
                    View 
                    <ng-container *ngIf="records?.position_type == 'Permanent'">Job Description</ng-container>
                    <ng-container *ngIf="records?.position_type == 'Temporary'">Tasks</ng-container>
                  </a>
                </td> 
              </tr> -->
              <tr>
                <th>Reason for hire</th>
                <td>
                  <ng-container *ngIf="records?.reasons_for_not_sharing_tasks">
                    <pre style="white-space:pre-wrap; font-size: 0.95rem; font-family: sans-serif;">{{ records?.reasons_for_not_sharing_tasks }}</pre></ng-container>
                  <ng-container *ngIf="!records?.reasons_for_not_sharing_tasks">N/A</ng-container>
                </td> 
              </tr>
            </tbody>
          </table>
          
          <!-- Attendance -->
          <div class="card">
            <div class="card-body">
              <section class="hide">
                <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
                  <li [ngbNavItem]="1">
                    <a ngbNavLink>Daily Attendance</a>
                    <ng-template ngbNavContent>
                      <div class="d-flex bd-highlight">
                        <div class="p-2 flex-fill bd-highlight">
                          <div class="form-group">
                            <label class="fw-bold" for="department">Month:</label>
                            <select name="" id="status" class="form-control py-2" [(ngModel)]="month" (change)="fetchAttendance(employee_id, $event.target.value)">
                              <option value="" selected disabled> -- Select Month -- </option>
                              <option [value]="month?.id" *ngFor="let month of months">{{month?.name}}</option>
                            </select>
                          </div>
                        </div>
                        <div class="p-2 flex-fill bd-highlight">
                          <div class="form-group">
                            <label class="fw-bold" for="status">Day:</label>
                            <select name="" id="status" class="form-control py-2" [(ngModel)]="day">
                              <option value="" selected disabled> -- Select Day -- </option>
                              <option [value]="day" *ngFor="let day of attendance?.days">{{day}}</option>
                            </select>
                          </div>
                        </div>
                        <div class="p-2 flex-fill bd-highlight">
                          <div class="form-group">
                            <label class="fw-bold" for="position_type">Hours Worked:</label>
                            <input type="number" name="" id="overtime_hours" class="form-control" placeholder="Hours Worked" [(ngModel)]="hours">
                          </div>
                        </div>
                        <!-- <div class="p-2 flex-fill bd-highlight">
                          <div class="form-group">
                            <label class="fw-bold" for="position_type">Overtime Hours:</label>
                            <input type="number" name="" id="overtime_hours" class="form-control" placeholder="Overtime Hours" [(ngModel)]="overtime_hours">
                          </div>
                        </div> -->
                        
                        <div class="p-2 flex-fill bd-highlight">
                          <div class="form-group pt-4">
                            <button type="button" class="btn btn-secondary" (click)="post_attendance()">
                              Add
                            </button>
                          </div>
                        </div>
                      </div>
                      <!-- display -->
                      <table class="wikitable" width="100%">
                        <tr>
                          <th class="text-center">Year</th>
                          <th class="text-center">Month</th>
                          <th class="text-center">Day</th>
                          <th class="text-center">Hours Worked</th>
                          <!-- <th class="text-center">Overtime Hours</th> -->
                          <th class="text-center hide"><i class="fa fa-bars"></i></th>
                        </tr>
                        <tbody>
                          <ng-container *ngFor="let list of attendance?.attendance">
                            <tr *ngFor="let item of list?.data">
                              <td class="text-center align-midle">{{item?.year}}</td>
                              <td class="text-center align-midle">{{get_month_name(item?.month)}}</td>
                              <td class="text-center align-midle">{{item?.day}}</td>
                              <td class="text-center align-midle">{{item?.hours_worked}}</td>
                              <!-- <td class="text-center align-midle">{{item?.overtime_hours}}</td> -->
                              <td class="text-center align-midle text-nowrap hide">
                                <button class="text-danger pointer border-none" (click)="delete_attendance(item?.id)" *ngxPermissionsOnly="['HOD','HR','HHR'] else isDisabled"><i class="fa fa-trash"></i></button>
                                <button class="text-danger pointer border-none" (click)="delete_attendance(item?.id)" disabled *ngxPermissionsOnly="['HOF','FINANCE','USER_MANAGER','CEO']" #isDisabled><i class="fa fa-trash"></i></button>
                              </td>
                            </tr>
                          </ng-container>
                        </tbody>
                      </table>
                    </ng-template>
                  </li>
                  <li [ngbNavItem]="2">
                    <a ngbNavLink>Monthly Attendance</a>
                    <ng-template ngbNavContent>
                      <div class="d-flex bd-highlight">
                        <div class="p-2 flex-fill bd-highlight">
                          <div class="form-group">
                            <label class="fw-bold" for="status">Year:</label>
                            <select name="" id="status" class="form-control py-2" [(ngModel)]="monthly_year" (change)="fetchMonthlyAttendance(employee_id, '', $event.target.value) ">
                              <option value="" selected disabled> -- Select Day -- </option>
                              <option [value]="day" *ngFor="let day of generate_years()">{{day}}</option>
                            </select>
                          </div>
                        </div>
                        <div class="p-2 flex-fill bd-highlight">
                          <div class="form-group">
                            <label class="fw-bold" for="department">Month:</label>
                            <select name="" id="status" class="form-control py-2" [(ngModel)]="monthly_month" (change)="fetchMonthlyAttendance(employee_id, $event.target.value)">
                              <option value="" selected disabled> -- Select Month -- </option>
                              <option [value]="month?.id" *ngFor="let month of months">{{month?.name}}</option>
                            </select>
                          </div>
                        </div>
                        <div class="p-2 flex-fill bd-highlight">
                          <div class="form-group">
                            <label class="fw-bold" for="position_type">Hours Worked:</label>
                            <input type="number" name="" id="overtime_hours" class="form-control" placeholder="Hours Worked" [(ngModel)]="monthly_hours">
                          </div>
                        </div>
                        <!-- <div class="p-2 flex-fill bd-highlight">
                          <div class="form-group">
                            <label class="fw-bold" for="position_type">Overtime Hours:</label>
                            <input type="number" name="" id="overtime_hours" class="form-control" placeholder="Overtime Hours" [(ngModel)]="overtime_hours">
                          </div>
                        </div> -->
                        
                        <div class="p-2 flex-fill bd-highlight">
                          <div class="form-group pt-4">
                            <button type="button" class="btn btn-secondary" (click)="post_monthly_attendance()">
                              Add
                            </button>
                          </div>
                        </div>
                      </div>
                      <!-- display -->
                      <table class="wikitable" width="100%">
                        <tr>
                          <th class="text-center">Year</th>
                          <th class="text-left">Month</th>
                          <th class="text-center">Hours Worked</th>
                          <th class="text-center hide"><i class="fa fa-bars"></i></th>
                        </tr>
                        <tbody>
                          <tr *ngFor="let item of monthly_attendance?.attendance">
                            <td class="text-center align-midle">{{item?.year}}</td>
                            <td class="text-left align-midle">{{get_month_name(item?.month)}}</td>
                            <td class="text-center align-midle">{{item?.hours_worked}}</td>
                            <td class="text-center align-midle text-nowrap hide">
                              <button class="text-danger pointer border-none" (click)="delete_monthly_attendance(item?.id)" *ngxPermissionsOnly="['HOD','HR','HHR'] else isDisabled"><i class="fa fa-trash"></i></button>
                              <button class="text-danger pointer border-none" (click)="delete_monthly_attendance(item?.id)" disabled *ngxPermissionsOnly="['HOF','FINANCE','USER_MANAGER','CEO']" #isDisabled><i class="fa fa-trash"></i></button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </ng-template>
                  </li>
                </ul>
                <div [ngbNavOutlet]="nav" class="mt-2"></div>
              </section>
              

              

            </div>
          </div>

        </div>

      </div>
      
    </div>
  </div>
</div>
